flows_ip-172-31-46-193.json
[{"id":"c9dcf400.7c4f18","type":"tab","label":"Hangouts dialogflow","disabled":true,"info":""},{"id":"b977efb9.d20e2","type":"tab","label":"Hangouts","disabled":true,"info":""},{"id":"8ab914e3.413a08","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"82d91092.2b6cb8","type":"tab","label":"Dialogflow","disabled":false,"info":""},{"id":"779ce012.16ea4","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"388d23f7.ebe53c","type":"tab","label":"satya-dialogflow","disabled":false,"info":""},{"id":"eeaec227.93d2c","type":"tab","label":"satya-Web Sockets","disabled":true,"info":""},{"id":"22fb0dec.b847c2","type":"tab","label":"line","disabled":false,"info":""},{"id":"4b6a1e79.6e9a3","type":"tab","label":"Dialogflow-tinku","disabled":true,"info":""},{"id":"7e15d0ae.0c1208","type":"tab","label":"Slack-tinku","disabled":true,"info":""},{"id":"f90c4830.2fd0b","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"21686f7c.322a1","type":"tab","label":"sowji-Dialogflow","disabled":false,"info":""},{"id":"bf1c8c8e.a3269","type":"tab","label":"Work-websockets","disabled":false,"info":""},{"id":"cb034793.669ad8","type":"tab","label":"Test-WebSockets","disabled":false,"info":""},{"id":"94da1880.7e5898","type":"tab","label":"Sai-chat","disabled":false,"info":""},{"id":"674cff33.6cf6d","type":"hangoutsCertificate","z":"","clientEmail":"durgaprasad@tezsolutions.in","privateKey":"-----BEGIN PRIVATE KEY-----\\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCrSIGm2DZaTVPW\\nuGfmexRIkUnbHq8QhMiDxAPN7XqrlLNTIHHOc9qzbA33OB8ylcwIkyirT+Cgmu4m\\nJ6bNXDbPff9WS51otLFDYXWDXpo7x/S1N5AjaTcnlnxUG33GBmVLs8LUuWeidmHC\\nPF3/8AAiM4YoTKsVXQdD+MekZN+lOd1K28Fm9P7w1rI6ryaWqe4WDOkG/CuB2D0t\\nhTQsg8QqdvpxG2y3jaBz+D4f3bzQZUhMAf/l9cOk2xR3Y0s0b8TTUtbyx/TNOjKr\\nbMMPlp7t+12YJPEV9t8UILiWDpjm9q4D9UvW8vvwuxDF57FkpzggKmLUyGkkb1of\\nK1xhshgZAgMBAAECgf8M+6jYM5eJlhX7pGxsf89xZ5HiWVKWbfQaUev35t2okYqk\\nsCAhBgigFxzfgeGGKuz9DrzPlMqctzoM2xklFkwdemlgWAWcjsBnGA5ccwYldbNm\\nCRMzIgmYamgaikQQoBYl6eHtDSzgHZL2E9pJJIBkL6gyfi+F1qXU0GIg3QqpB5PC\\n5TLEUqpLRQ6H8WpsNIxsqH840PPMkogZX1F1maYGlJNducRSrsH4p+QZnn6Kw0dH\\nrplOOWD9eJL2XORRDvBY+Wn1n0JMgr8xYvo0/I7UL9b7Ut+cLcadUTzuifBBv4P2\\nVA+RFB443AHCwVcbkdA66r2sBG+CutX0/zgZAHcCgYEA6y3Lgqr3pnXtIIUBqKj2\\n0MCTmksJ6vDZiJtFKEnTAUAMz1+4OQcFfsTOmz2zK50UrVSG/9YeIm8WurR7/F7P\\nK9IuYIqfATFEDIkF483QduiKoj7e0qAvoRYJ0+EeS2IbXeCk1TPMaziYCDHycJcg\\n6qoSYCHIuYTud9jUtODy45MCgYEAunKM2fbDME1IM0cdE1UEOIVRgpK/5OUqFjIk\\njaJuoYeXUcf+gKIeyFSVTsf2H0BBspaguJvCCS5TDV6XkAAPkDG4Ga0acpwsM3em\\nRk6AEfS0PV1mLwn6EAgrDqbru1OXpF8ruQraT9Ce6cfIkrWVyuusVqZ7mPOzmNIg\\nMCYx+SMCgYEAmx6inDZekLo5xPhV5sRDv981vFCAYymnohYgIHnJJorzqBiPr3W1\\nJy9ywyyIMF00lTsqrDazu6ygRlfja8uxREsm8eCdDjFLnCUI8IABX1z0jB2B5VVo\\n9QxPQSS8UaaNPHd+4W2ACLzUcptXOPJF8OJqqmO+PLe0fvJTIlc5fecCgYAiyl84\\nCNCxQap4TwvA4LtR5KaqC8Ic7xokXCTv/OBR6eA1lXELBbViwk2+DpgBitb3gR3q\\ndL4HQoqi0wTLDQfaazykJeXqfvPMgsYXFmzVbOj5DmWT33O27B9Es6cHJHkGZe/d\\nroXAIPiWPP5TSejynXliDdzAVLEtkgAJnAb1KwKBgQDIhxZOf+T1OZJQamXC2ljn\\nn+7Nn6swioznFdDsHPXbYHUnemcLgQGW+04odZgHkAt8wd1Jru/hxUuEiwfNpR/C\\nwPNn4LBifRoyuLG2X/9nXn8QmjTFwrfDotj8tsUvRdi0BFOnQta3epQow/mzul7i\\nDLqHDXxid7O25zU1hbdUWQ==\\n-----END PRIVATE KEY-----\\n"},{"id":"bdeb09d9.a32a","type":"dialogflowv2-token","z":"","name":"newagent"},{"id":"32483570.c6e1a2","type":"dialogflowv2-token","z":"","name":"embiote"},{"id":"4dbb31ad.0e55e","type":"telegram bot","z":"","botname":"badBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"7135db24.868f24","type":"dialogflowv2-token","z":"","name":"Hangouts ORCA"},{"id":"4b8e8a2d.8621c4","type":"websocket-listener","z":"eeaec227.93d2c","path":"/ws/simple","wholemsg":"false"},{"id":"e05671b4.4b47e8","type":"slack-config","z":"","name":"orca"},{"id":"7a6bbd56.275fac","type":"slackbot-controller","z":"","name":"orca","bot_token":"xoxb-1314999041970-1338371148610-PETiaaxvZMder2HOwNv7VWa8"},{"id":"c08b5bde.b6adc","type":"slackbot-controller","z":"","name":"orca","bot_token":"xoxb-1314999041970-1338371148610-PETiaaxvZMder2HOwNv7VWa8"},{"id":"df1dc080.22559","type":"dialogflowv2-token","z":"","name":"mainORCA"},{"id":"8871380c.5036e8","type":"dialogflowv2-token","z":"","name":"Bot"},{"id":"ad400d33.8ba74","type":"websocket-listener","z":"bf1c8c8e.a3269","path":"/ws/simple","wholemsg":"false"},{"id":"7697fb4a.831394","type":"websocket-listener","z":"","path":"/ws/chat","wholemsg":"false"},{"id":"d2a0ecc5.4933d","type":"inject","z":"8ab914e3.413a08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":200,"wires":[["5bb1d20d.e1523c"]]},{"id":"8f8f9275.3826f","type":"debug","z":"8ab914e3.413a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":200,"wires":[]},{"id":"5bb1d20d.e1523c","type":"hangoutChatBot","z":"8ab914e3.413a08","hangoutsCertificate":"674cff33.6cf6d","roomname":"","contentproperty":"This is my test","contenttype":"str","x":420,"y":200,"wires":[["8f8f9275.3826f"]]},{"id":"18b94ce.3d54ab3","type":"http in","z":"b977efb9.d20e2","name":"webhook endpoint","url":"/orca","method":"post","upload":true,"swaggerDoc":"","x":170,"y":100,"wires":[["610b721c.414b8c","e859d469.29c398"]]},{"id":"610b721c.414b8c","type":"debug","z":"b977efb9.d20e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":220,"wires":[]},{"id":"e859d469.29c398","type":"function","z":"b977efb9.d20e2","name":"","func":"if(msg.payload.type===\"CARD_CLICKED\")\n{\n    msg.payload=msg.payload.action.actionMethodName;\n}\nelse{\nmsg.payload=msg.payload.message.text;\n}\n\nmsg._msgid=msg._msgid;\n// msg.googlekeys={\n//   \"type\": \"service_account\",\n//   \"project_id\": \"upheld-magpie-287113\",\n//   \"private_key_id\": \"7f07381d3002e558fc606f9580d4a1943f3ae1ab\",\n//   \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCrSIGm2DZaTVPW\\nuGfmexRIkUnbHq8QhMiDxAPN7XqrlLNTIHHOc9qzbA33OB8ylcwIkyirT+Cgmu4m\\nJ6bNXDbPff9WS51otLFDYXWDXpo7x/S1N5AjaTcnlnxUG33GBmVLs8LUuWeidmHC\\nPF3/8AAiM4YoTKsVXQdD+MekZN+lOd1K28Fm9P7w1rI6ryaWqe4WDOkG/CuB2D0t\\nhTQsg8QqdvpxG2y3jaBz+D4f3bzQZUhMAf/l9cOk2xR3Y0s0b8TTUtbyx/TNOjKr\\nbMMPlp7t+12YJPEV9t8UILiWDpjm9q4D9UvW8vvwuxDF57FkpzggKmLUyGkkb1of\\nK1xhshgZAgMBAAECgf8M+6jYM5eJlhX7pGxsf89xZ5HiWVKWbfQaUev35t2okYqk\\nsCAhBgigFxzfgeGGKuz9DrzPlMqctzoM2xklFkwdemlgWAWcjsBnGA5ccwYldbNm\\nCRMzIgmYamgaikQQoBYl6eHtDSzgHZL2E9pJJIBkL6gyfi+F1qXU0GIg3QqpB5PC\\n5TLEUqpLRQ6H8WpsNIxsqH840PPMkogZX1F1maYGlJNducRSrsH4p+QZnn6Kw0dH\\nrplOOWD9eJL2XORRDvBY+Wn1n0JMgr8xYvo0/I7UL9b7Ut+cLcadUTzuifBBv4P2\\nVA+RFB443AHCwVcbkdA66r2sBG+CutX0/zgZAHcCgYEA6y3Lgqr3pnXtIIUBqKj2\\n0MCTmksJ6vDZiJtFKEnTAUAMz1+4OQcFfsTOmz2zK50UrVSG/9YeIm8WurR7/F7P\\nK9IuYIqfATFEDIkF483QduiKoj7e0qAvoRYJ0+EeS2IbXeCk1TPMaziYCDHycJcg\\n6qoSYCHIuYTud9jUtODy45MCgYEAunKM2fbDME1IM0cdE1UEOIVRgpK/5OUqFjIk\\njaJuoYeXUcf+gKIeyFSVTsf2H0BBspaguJvCCS5TDV6XkAAPkDG4Ga0acpwsM3em\\nRk6AEfS0PV1mLwn6EAgrDqbru1OXpF8ruQraT9Ce6cfIkrWVyuusVqZ7mPOzmNIg\\nMCYx+SMCgYEAmx6inDZekLo5xPhV5sRDv981vFCAYymnohYgIHnJJorzqBiPr3W1\\nJy9ywyyIMF00lTsqrDazu6ygRlfja8uxREsm8eCdDjFLnCUI8IABX1z0jB2B5VVo\\n9QxPQSS8UaaNPHd+4W2ACLzUcptXOPJF8OJqqmO+PLe0fvJTIlc5fecCgYAiyl84\\nCNCxQap4TwvA4LtR5KaqC8Ic7xokXCTv/OBR6eA1lXELBbViwk2+DpgBitb3gR3q\\ndL4HQoqi0wTLDQfaazykJeXqfvPMgsYXFmzVbOj5DmWT33O27B9Es6cHJHkGZe/d\\nroXAIPiWPP5TSejynXliDdzAVLEtkgAJnAb1KwKBgQDIhxZOf+T1OZJQamXC2ljn\\nn+7Nn6swioznFdDsHPXbYHUnemcLgQGW+04odZgHkAt8wd1Jru/hxUuEiwfNpR/C\\nwPNn4LBifRoyuLG2X/9nXn8QmjTFwrfDotj8tsUvRdi0BFOnQta3epQow/mzul7i\\nDLqHDXxid7O25zU1hbdUWQ==\\n-----END PRIVATE KEY-----\\n\",\n//   \"client_email\": \"orca-777@upheld-magpie-287113.iam.gserviceaccount.com\",\n//   \"client_id\": \"102078920709979649055\",\n//   \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",\n//   \"token_uri\": \"https://oauth2.googleapis.com/token\",\n//   \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",\n//   \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/orca-777%40upheld-magpie-287113.iam.gserviceaccount.com\"\n// };\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":160,"wires":[["90312b19.17e498","b6345249.5a0f4"]]},{"id":"83b19583.1de8e8","type":"http response","z":"b977efb9.d20e2","name":"","statusCode":"","headers":{},"x":730,"y":400,"wires":[]},{"id":"a14acff.cd72fb","type":"dialogflowv2","z":"82d91092.2b6cb8","dialogflow":"32483570.c6e1a2","language":"en","debug":false,"variable":"topic","x":540,"y":100,"wires":[["88bdf2b6.196408","b05eb4cf.777c08"]]},{"id":"110cd1f6.16541e","type":"link in","z":"82d91092.2b6cb8","name":"","links":["f3c34ee4.41ab1","b533aca0.3ec1d"],"x":115,"y":340,"wires":[["ef46986f.2fe7b"]]},{"id":"88bdf2b6.196408","type":"link out","z":"82d91092.2b6cb8","name":"","links":["9adffaa0.46716"],"x":835,"y":100,"wires":[]},{"id":"b05eb4cf.777c08","type":"debug","z":"82d91092.2b6cb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":320,"wires":[]},{"id":"ef46986f.2fe7b","type":"change","z":"82d91092.2b6cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":240,"wires":[["a14acff.cd72fb","96ae2691.32b698"]]},{"id":"96ae2691.32b698","type":"debug","z":"82d91092.2b6cb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":360,"wires":[]},{"id":"b4fd96be.b905f","type":"telegram receiver","z":"779ce012.16ea4","name":"","bot":"4dbb31ad.0e55e","saveDataDir":"","filterCommands":false,"x":210,"y":80,"wires":[["b533aca0.3ec1d","671a4fb3.2c921"],[]]},{"id":"6d23390b.e6b8d","type":"telegram sender","z":"779ce012.16ea4","name":"","bot":"4dbb31ad.0e55e","x":670,"y":320,"wires":[[]]},{"id":"9adffaa0.46716","type":"link in","z":"779ce012.16ea4","name":"","links":["ae3dd232.6b2e1","88bdf2b6.196408"],"x":155,"y":300,"wires":[["ece32ea5.38331","54b144f.a8acb3c"]]},{"id":"b533aca0.3ec1d","type":"link out","z":"779ce012.16ea4","name":"","links":["5a538670.d490b8","110cd1f6.16541e"],"x":715,"y":80,"wires":[]},{"id":"ece32ea5.38331","type":"function","z":"779ce012.16ea4","name":"","func":"//context.global.keyboard = { pending : true };\n//_dialogflow.fulfillmentMessages[0].text.text[0]\n//_dialogflow.fulfillmentMessages[0].text.text[0]\n\nmsg.payload={\n    chatId:msg.originalMessage.chat.id,\n    type:'message'\n};\nif(msg._dialogflow.fulfillmentText.length>0){\n    msg.payload.content=msg._dialogflow.fulfillmentText;\n}\nelse{\n    msg.payload.content=msg._dialogflow.fulfillmentMessages[0].payload.fields.text.stringValue;\n\nif(msg._dialogflow.fulfillmentMessages[0].payload.fields.options){\n    const arr=msg._dialogflow.fulfillmentMessages[0].payload.fields.options.listValue.values.map(obj=>{\n        return {\n            \"text\":obj.stringValue,\n            \"callback_data\":obj.stringValue\n        };\n    });\nconst opts ={\n    parse_mode: \"HTML\",\n    reply_to_message_id: msg.originalMessage.message_id,\n    reply_markup: JSON.stringify({\n     keyboard: [arr],\n     \"resize_keyboard\":true,\n     \"one_time_keyboard\":true\n  })\n};\n\nmsg.payload.options=opts;\n}\n}\nreturn [ msg ];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":320,"wires":[["6d23390b.e6b8d","88e21305.e9fbd8"]]},{"id":"88e21305.e9fbd8","type":"debug","z":"779ce012.16ea4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":400,"wires":[]},{"id":"671a4fb3.2c921","type":"debug","z":"779ce012.16ea4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":160,"wires":[]},{"id":"5aa5eb15.469424","type":"debug","z":"779ce012.16ea4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":20,"wires":[]},{"id":"de6d0e25.00b1b","type":"catch","z":"779ce012.16ea4","name":"","scope":null,"x":660,"y":20,"wires":[["5aa5eb15.469424"]]},{"id":"f6915cc2.e10ce8","type":"telegram event","z":"779ce012.16ea4","name":"","bot":"4dbb31ad.0e55e","event":"callback_query","autoanswer":false,"x":120,"y":180,"wires":[[]]},{"id":"54b144f.a8acb3c","type":"switch","z":"779ce012.16ea4","name":"","property":"_dialogflow.fulfillmentMessages[0].payload.fields.photo.stringValue.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":260,"wires":[["725c2533.fdf07c"]]},{"id":"725c2533.fdf07c","type":"function","z":"779ce012.16ea4","name":"","func":"msg.payload={\n    chatId:msg.originalMessage.chat.id,\n    type:'photo',\n    content:msg._dialogflow.fulfillmentMessages[0].payload.fields.photo.stringValue\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":260,"wires":[["6d23390b.e6b8d"]]},{"id":"fec95057.1e528","type":"comment","z":"779ce012.16ea4","name":"call the bot       tinku99_bot","info":"","x":300,"y":40,"wires":[]},{"id":"5195bee0.cc243","type":"inject","z":"388d23f7.ebe53c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":190,"y":260,"wires":[["66990933.0ad4c8"]]},{"id":"ae347ec2.26f25","type":"debug","z":"388d23f7.ebe53c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"options","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":220,"wires":[]},{"id":"66990933.0ad4c8","type":"dialogflowv2","z":"388d23f7.ebe53c","dialogflow":"7135db24.868f24","language":"en","debug":false,"variable":"topic","x":440,"y":260,"wires":[["6ce33beb.3eb014","93af4f6b.416fa","e5333001.56908","1e923dc5.a4b0b2"]]},{"id":"6ce33beb.3eb014","type":"debug","z":"388d23f7.ebe53c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"_dialogflow.fulfillmentMessages[0].payload.fields.text.stringValue","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":420,"wires":[]},{"id":"93af4f6b.416fa","type":"debug","z":"388d23f7.ebe53c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"_dialogflow.fulfillmentMessages[0].payload.fields.options.listValue.values[0].stringValue","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":360,"wires":[]},{"id":"e5333001.56908","type":"function","z":"388d23f7.ebe53c","name":"","func":"if(msg._dialogflow.fulfillmentMessages[0].payload!==undefined){\n    msg.payload=msg._dialogflow.fulfillmentMessages[0].payload.fields.text.stringValue; \n}\nelse {\n    msg.payload=msg._dialogflow.fulfillmentText;\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":160,"wires":[["d4bf07dd.a98928"]]},{"id":"d4bf07dd.a98928","type":"change","z":"388d23f7.ebe53c","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"_dialogflow.fulfillmentMessages[0].payload.fields.options.listValue.values","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":120,"wires":[["ae347ec2.26f25","cca077a1.be9d18"]]},{"id":"cca077a1.be9d18","type":"function","z":"388d23f7.ebe53c","name":"","func":"\nvar optsArr=msg.options;\nvar values=[];\nif(optsArr!==undefined){\n    for(i=0; i< optsArr.length; i++){\n        \n    //   \n      values.push({\"text\":optsArr[i].stringValue,\n                    \"callback_data\":optsArr[i].stringValue});\n    }\n    // delete msg.originalMessage.message;\n    msg.options=[values];\n}\nelse {\n    msg.options=null;\n}\nreturn msg;\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":80,"wires":[["e9f83e38.84d42","ea3471.2c70cb9"]]},{"id":"e9f83e38.84d42","type":"debug","z":"388d23f7.ebe53c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"options","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":180,"wires":[]},{"id":"1e923dc5.a4b0b2","type":"debug","z":"388d23f7.ebe53c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":300,"wires":[]},{"id":"9793bf45.eb8a1","type":"link in","z":"388d23f7.ebe53c","name":"","links":["93be98eb.fb75e8"],"x":55,"y":260,"wires":[["8c772d7.29e69d"]]},{"id":"ea3471.2c70cb9","type":"link out","z":"388d23f7.ebe53c","name":"","links":["7bbfca15.6703b4"],"x":995,"y":120,"wires":[]},{"id":"352714d.e1850ec","type":"websocket out","z":"eeaec227.93d2c","name":"","server":"4b8e8a2d.8621c4","client":"","x":460,"y":320,"wires":[]},{"id":"fdb9216a.ce43a","type":"http response","z":"eeaec227.93d2c","name":"","statusCode":"","headers":{},"x":430,"y":40,"wires":[]},{"id":"147805d6.11dd6a","type":"http in","z":"eeaec227.93d2c","name":"","url":"/simple","method":"get","upload":false,"swaggerDoc":"","x":92,"y":40,"wires":[["bc14d2ab.eef11"]]},{"id":"bc14d2ab.eef11","type":"template","z":"eeaec227.93d2c","name":"ORCA","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<link rel=\"icon\" href=\"https://api.tezsolutions.in/images/ORCA/Icon.png\">\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js\"></script> \n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css\"/>\n<style>\n@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');\n@import url(\"https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap\");\nbody,\nhtml {\n  font-family: Red hat Display, sans-serif;\n  font-weight: 400;\n  line-height: 1.25em;\n  letter-spacing: 0.025em;\n  color: #333;\n  background: #f7f7f7;\n}\n#closeButton{\n    cursor:pointer;\n}\n.begin{\n    box-shadow:0px 0px 10px rgba(0,0,0,.3);\n    transition:0.5s;\n    border-radius:50%;\n}\n.begin:hover{\n    box-shadow:0px 4px 24px rgba(0,0,0,.5);\n    transition:0.5s;\n}\n.center {\n  position: absolute;\n  top: 50%;\n  left: calc(50% + 12rem);\n  -webkit-transform: translate(-50%, -50%);\n          transform: translate(-50%, -50%);\n}\n.closeBtn{\n    cursor:pointer;\n}\n\n.pic {\n  width: 4rem;\n  height: 4rem;\n  background-size: cover;\n  background-position: center;\n  border-radius: 50%;\n  cursor:pointer;\n  box-shadow:0px 2px 10px rgba(0,0,0,.2);\n}\n\n.contact {\n  position: relative;\n  margin-bottom: 1rem;\n  padding-left: 5rem;\n  height: 4.5rem;\n  display: -webkit-box;\n  display: flex;\n  -webkit-box-orient: vertical;\n  -webkit-box-direction: normal;\n          flex-direction: column;\n  -webkit-box-pack: center;\n          justify-content: center;\n}\n.contact .pic {\n  position: absolute;\n  left: 0;\n}\n.contact .name {\n  font-weight: 500;\n  margin-bottom: 0.125rem;\n}\n.contact .message,\n.contact .seen {\n  font-size: 0.9rem;\n  color: #999;\n}\n.contact .badge {\n  box-sizing: border-box;\n  position: absolute;\n  width: 1.5rem;\n  height: 1.5rem;\n  text-align: center;\n  font-size: 0.9rem;\n  padding-top: 0.125rem;\n  border-radius: 1rem;\n  top: 0;\n  left: 2.5rem;\n  background: #333;\n  color: white;\n}\n\n.contacts {\n  display:none;\n  position: absolute;\n  top: 50%;\n  left: 0;\n  -webkit-transform: translate(-6rem, -50%);\n          transform: translate(-6rem, -50%);\n  width: 24rem;\n  height: 32rem;\n  padding: 1rem 2rem 1rem 1rem;\n  box-sizing: border-box;\n  border-radius: 1rem 0 0 1rem;\n  cursor: pointer;\n  background: white;\n  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 2rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);\n  -webkit-transition: -webkit-transform 500ms;\n  transition: -webkit-transform 500ms;\n  transition: transform 500ms;\n  transition: transform 500ms, -webkit-transform 500ms;\n}\n.contacts h2 {\n  margin: 0.5rem 0 1.5rem 5rem;\n}\n.contacts .fa-bars {\n  position: absolute;\n  left: 2.25rem;\n  color: #999;\n  -webkit-transition: color 200ms;\n  transition: color 200ms;\n}\n.contacts .fa-bars:hover {\n  color: #666;\n}\n.contacts .contact:last-child {\n  margin: 0;\n}\n.contacts:hover {\n  -webkit-transform: translate(-23rem, -50%);\n          transform: translate(-23rem, -50%);\n}\n\n.chat {\n  position: relative;\n  display: -webkit-box;\n  display: flex;\n  -webkit-box-orient: vertical;\n  -webkit-box-direction: normal;\n          flex-direction: column;\n  -webkit-box-pack: justify;\n          justify-content: space-between;\n  width: 24rem;\n  height: 38rem;\n  z-index: 2;\n  box-sizing: border-box;\n  border-radius: 1rem;\n  background: white;\n  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);\n  transition-duration: 0.5s;\n}\n\n.chat.closed{\n    width: 6rem;\n    height: 6rem;\n    transition-duration: 0.5s;\n    border-radius: 50%;\n}\n\n.chat .contact.bar {\n  flex-basis: 3.5rem;\n  flex-shrink: 0;\n  margin: 1rem;\n  box-sizing: border-box;\n}\n.chat .messages {\n  height: inherit;\n  padding: 1rem;\n  background: #f7f7f7;\n  flex-shrink: 2;\n  overflow-y: auto;\n  box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);\n}\n.chat .messages .time {\n  font-size: 0.8rem;\n  background: #eee;\n  padding: 0.25rem 1rem;\n  border-radius: 2rem;\n  color: #999;\n  width: -webkit-fit-content;\n  width: -moz-fit-content;\n  width: fit-content;\n  margin: 0 auto;\n}\n.chat .messages .message {\n  box-sizing: border-box;\n  padding: 0.5rem 1rem;\n  margin: 1rem;\n  background: #fff;\n  border-radius: 1.125rem 1.125rem 1.125rem 0;\n  min-height: 2.25rem;\n  width: -webkit-fit-content;\n  width: -moz-fit-content;\n  width: fit-content;\n  max-width: 66%;\n  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);\n  \n}\n.chat .messages .message.parker {\n  margin: 1rem 1rem 1rem auto;\n  border-radius: 1.125rem 1.125rem 0 1.125rem;\n  background: #333;\n  color: white;\n}\n.chat .messages .message .typing {\n  display: inline-block;\n  width: 0.8rem;\n  height: 0.8rem;\n  margin-right: 0rem;\n  box-sizing: border-box;\n  background: #ccc;\n  border-radius: 50%;\n}\n.chat .messages .message .typing.typing-1 {\n  -webkit-animation: typing 3s infinite;\n          animation: typing 3s infinite;\n}\n.chat .messages .message .typing.typing-2 {\n  -webkit-animation: typing 3s 250ms infinite;\n          animation: typing 3s 250ms infinite;\n}\n.chat .messages .message .typing.typing-3 {\n  -webkit-animation: typing 3s 500ms infinite;\n          animation: typing 3s 500ms infinite;\n}\n.chat .input {\n  box-sizing: border-box;\n  flex-basis: 4rem;\n  flex-shrink: 0;\n  display: -webkit-box;\n  display: flex;\n  -webkit-box-align: center;\n          align-items: center;\n  padding: 0 0.5rem 0 1.5rem;\n}\n.chat .input i {\n  font-size: 1.5rem;\n  margin-right: 1rem;\n  color: #666;\n  cursor: pointer;\n  -webkit-transition: color 200ms;\n  transition: color 200ms;\n}\n.chat .input i:hover {\n  color: #333;\n}\n.chat .input input {\n  border: none;\n  outline:none;\n  background-image: none;\n  background-color: white;\n  padding: 0.5rem 1rem;\n  margin-right: 1rem;\n  border-radius: 1.125rem;\n  -webkit-box-flex: 2;\n          flex-grow: 2;\n  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);\n  font-family: Red hat Display, sans-serif;\n  font-weight: 400;\n  letter-spacing: 0.025em;\n  transition:0.3s;\n}\n.chat .input input:hover{\n    box-shadow:0px 0px 5px rgba(0,0,0,.3),0px 0px 10px rgba(0,0,0,.3),0px 0px 15px rgba(0,0,0,.3);\n    transition:0.3s;\n}\n.chat .input input:placeholder {\n  color: #999;\n}\n\n@-webkit-keyframes typing {\n  0%,\n\t75%,\n\t100% {\n    -webkit-transform: translate(0, 0.25rem) scale(0.9);\n            transform: translate(0, 0.25rem) scale(0.9);\n    opacity: 0.5;\n  }\n  25% {\n    -webkit-transform: translate(0, -0.25rem) scale(1);\n            transform: translate(0, -0.25rem) scale(1);\n    opacity: 1;\n  }\n}\n\n@keyframes typing {\n  0%,\n\t75%,\n\t100% {\n    -webkit-transform: translate(0, 0.25rem) scale(0.9);\n            transform: translate(0, 0.25rem) scale(0.9);\n    opacity: 0.5;\n  }\n  25% {\n    -webkit-transform: translate(0, -0.25rem) scale(1);\n            transform: translate(0, -0.25rem) scale(1);\n    opacity: 1;\n  }\n}\n.pic.stark {\n  background-image: url(\"https://api.tezsolutions.in/images/ORCA/Icon.png\");\n}\n\n.pic.banner {\n  background-image: url(\"https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/4/4f/BruceHulk-Endgame-TravelingCapInPast.jpg\");\n}\n\n.pic.thor {\n  background-image: url(\"https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/9/98/ThorFliesThroughTheAnus.jpg\");\n}\n\n.pic.danvers {\n  background-image: url(\"https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/0/05/HeyPeterParker.png\");\n}\n\n.pic.rogers {\n  background-image: url(\"https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/7c/Cap.America_%28We_Don%27t_Trade_Lives_Vision%29.png\");\n}\n\n\n\n\n.message.stark.extra {\n    outline: none;\n    border: none;\n    cursor:pointer;\n    position: relative;\n    display: inline-block;\n    background: #e6e6e6 !important;\n    transition: 0.3s;\n    color: #3c3636;\n    width: 300px;\n    height: 60px;\n    padding: 5px 5px !important;\n    font-weight: 600;\n    font-size: 18px;\n    margin: -3px;\n    transform: scale(0.8);\n    transition: 0.5s;\n    border-radius: 1.125rem;\n}\n.message.stark.extra:hover{\n    background:#908b8b !important;\n    color:#fff;\n    transition:0.5s;\n    transform:scale(0.9);\n    box-shadow:2px 8px 15px rgba(0,0,0,.3);\n    transition:0.5;\n}\n\n.messages::-webkit-scrollbar {\n    width:6px;\n    \n}\n.messages::-webkit-scrollbar-thumb{\n    border-radius:6px;\n    background-color: #000000;\n    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);\n}\n\n\n\n .linkText{\n         font-weight: 600;\n         text-decoration:none;\n         \n\n      }\n      \n    </style>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        var responseMessage = {};\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            // ws = new WebSocket(wsUri);\n            ws = new WebSocket(\"wss://devapi.orca.embiote.in/ws/simple\");\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                \n                var data = JSON.parse(msg.data);\n                responseMessage[\"context\"] = data[\"context\"];\n                console.log(msg);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data.text+\"</p>\";\n                \n                // replace the messages div with the new \"line\"\n                // document.getElementsByClassName('messages').innerHTML = line;\n                 $(\"#typing-blob\").remove()\n                    $(\"#chat\").append(\"<div class='message stark'>\"+line+\"</div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                    if(data.options!==null){\n                        for (let i=0; i < data.options[0].length;i++){\n                            if (data.options[0][i].text !== undefined){\n                                $(\"#chat\").append(\"<button class='message stark extra' data-value=\\\"\" + data.options[0][i].text + \"\\\" onclick='myFun(this)'> <span>\" + data.options[0][i].text + \"</span></button>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                            }\n                        }\n                    }\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                // document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                // document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n        \n        \n        function openChatBox(){\n            \n            $(\"#chatBox\").removeClass(\"closed\")\n            $(\"#closeButton\").show();\n        }\n         function closeChatBox(){\n            $(\"#chatBox\").addClass(\"closed\")\n            $(\"#closeButton\").hide();\n         }\n         \n         $(document).delegate(\"#Query\", \"keyup\", function(event) { \n            if (event.keyCode === 13) { \n                $(\"#send\").click(); \n            } \n        });\n        \n        function sendMessage(userResponse) {\n            if(userResponse !== \"\"){\n                responseMessage[\"text\"] = userResponse\n                doit(JSON.stringify(responseMessage));\n                responseMessage={};\n                $(\"#chat\").append(\"<div class='message parker'>\"+userResponse+\"</div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                $(\"#chat\").append(\"<div class='message stark' id='typing-blob'><div class='typing typing-1'></div><div class='typing typing-2'></div><div class='typing typing-3'></div></div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                $(\"#Query\").val(\"\");\n                setTimeout(function () {\n                    $(\"#typing-blob\").remove()\n                }, 5000);\n            }\n        }\n        \n        $(document).delegate(\"#send\", \"click\", function() {\n            var userResponse = $(\"#Query\").val();\n            console.log(userResponse);\n            sendMessage(userResponse);\n            userResponse=\"\";\n        });\n        // function sendQuery(opt) {\n        //   document.querySelector(\"#chatBox > div.input > input\").value = opt;\n        // }\n        function myFun(btn){\n            console.log(btn.dataset.value);\n            userResponse = btn.dataset.value;\n            sendMessage(userResponse);\n    }\n        \n        \n    </script>\n        \n    <div class=\"container-fluid\">\n        <div style=\"position : fixed; bottom: 5px; right: 0px; z-index:9999\"> <!--Begin Chatbot Code-->\n          <div id=\"chatBox\" class=\"chat closed animate__animated animate__heartbeat\">\n            <div class=\"contact bar\" onclick=\"openChatBox()\">\n              <div class=\"pic stark\"></div>\n              <div class=\"name\">\n                ORCA Bot\n              </div>\n              <div class=\"seen\">\n                Just now\n              </div>\n            </div>\n            <div id=\"closeButton\" style=\"position: absolute; top: 2rem; right: 2rem;\" onclick=\"closeChatBox()\">\n                <i class=\"fas fa-window-close\"></i>\n            </div>\n            <div class=\"messages\" id=\"chat\">\n              <div class=\"message stark\">\n                Hi there! How can I help you?\n              </div>\n            </div>\n            <div class=\"input\">\n              <i class=\"fas fa-camera\"></i><i class=\"far fa-laugh-beam\"></i><input id=\"Query\" placeholder=\"Type your message here!\" type=\"text\" autocomplete=\"off\"/><i class=\"fas fa-paper-plane\" id=\"send\"></i>\n            </div>\n          </div>\n        </div> <!--End Chatbot Code-->\n        <!--<b-img src=\"./images/node-blue-192x192.png\" rounded left v-bind=\"imgProps\" alt=\"Blue Node-RED\" class=\"mt-1 mr-2\"></b-img>-->\n        <!--<img src=\"https://api.tezsolutions.in/images/ORCA/Logo.png\" fluid alt=\"ORCA Logo\">\n        <h1 style=\"text-align: center;\">\n            <br>\n            Omni Resource Collaboration Agent\n        </h1>-->\n    </div> <!--closed container-->\n\n    <script>\n        $(document).ready(function() {\n            wsConnect();\n        });\n    </script>\n","x":270,"y":40,"wires":[["fdb9216a.ce43a"]]},{"id":"ec082888.dd4fa8","type":"websocket in","z":"eeaec227.93d2c","name":"","server":"4b8e8a2d.8621c4","client":"","x":100,"y":160,"wires":[["9dc6bb9c.170c58","efb522dd.663b4"]]},{"id":"9dc6bb9c.170c58","type":"debug","z":"eeaec227.93d2c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":240,"wires":[]},{"id":"7bbfca15.6703b4","type":"link in","z":"eeaec227.93d2c","name":"","links":["ea3471.2c70cb9"],"x":35,"y":320,"wires":[["a990b883.79abf8","cc2ae191.f095f"]]},{"id":"93be98eb.fb75e8","type":"link out","z":"eeaec227.93d2c","name":"","links":["9793bf45.eb8a1"],"x":555,"y":160,"wires":[]},{"id":"a990b883.79abf8","type":"debug","z":"eeaec227.93d2c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":130,"y":360,"wires":[]},{"id":"ad643b2e.e6a8b8","type":"function","z":"eeaec227.93d2c","name":"","func":"var payload = msg.payload;\nvar context = msg._dialogflow.outputContexts;\nmsg.payload={};\nmsg.payload.text=payload;\nmsg.payload.options = msg.options;\nmsg.payload.context=context;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":320,"wires":[["352714d.e1850ec"]]},{"id":"cc2ae191.f095f","type":"switch","z":"eeaec227.93d2c","name":"websocket","property":"src","propertyType":"msg","rules":[{"t":"eq","v":"websocket","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":320,"wires":[["ad643b2e.e6a8b8"]]},{"id":"c3adadb.dc2705","type":"function","z":"eeaec227.93d2c","name":"","func":"var m=msg.payload;\nmsg.payload=m.text;\nmsg.contexts=m.context;\nmsg.src=\"websocket\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":160,"wires":[["93be98eb.fb75e8","8d25409a.dd127"]]},{"id":"8d25409a.dd127","type":"debug","z":"eeaec227.93d2c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":240,"wires":[]},{"id":"efb522dd.663b4","type":"json","z":"eeaec227.93d2c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":160,"wires":[["c3adadb.dc2705"]]},{"id":"8c772d7.29e69d","type":"change","z":"388d23f7.ebe53c","name":"","rules":[{"t":"set","p":"contexts","pt":"msg","to":"_dialogflow.outputContexts","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":340,"wires":[["66990933.0ad4c8"]]},{"id":"8986f9a1.341b88","type":"http in","z":"22fb0dec.b847c2","name":"","url":"/callback","method":"post","upload":false,"swaggerDoc":"","x":120,"y":240,"wires":[["c6d568ef.856e68","b7e7a24.aa4a66"]]},{"id":"c6d568ef.856e68","type":"function","z":"22fb0dec.b847c2","name":"line","func":"var rec_msg=msg.payload;\nvar reply={type:\"text\",text:\"hi! from node red\"};\nvar value=[rec_msg,reply];\nmsg.payload=value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":260,"wires":[["2e73b93f.4ad896"]]},{"id":"2e73b93f.4ad896","type":"linebot-reply","z":"22fb0dec.b847c2","name":"","channelAccessToken":"cpKQ8v+vNHfja5fs2cX/FjykP2Lg/JWFf2L8fukkjDiuCh5WlfVp0rg7SVtX2JNTeVzXOsCylFYVEBRs578PUaLDL7zVp58kWiHh/E/EMdyPejTlyT2swknxC1e18snGq7xnJ4lP0cetE9ssuj1ffwdB04t89/1O/w1cDnyilFU=","channelSecret":" b455caf60187153419f1e5a6108d720c","replyMessage":"hi! how r u this is janya","x":550,"y":260,"wires":[["f59afc0.e876308"]]},{"id":"f59afc0.e876308","type":"debug","z":"22fb0dec.b847c2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":80,"wires":[]},{"id":"72afcc14.1833b4","type":"link in","z":"b977efb9.d20e2","name":"","links":["cc5dd483.6db998","23befd40.4736a2"],"x":135,"y":360,"wires":[["60f25b6e.577f84"]]},{"id":"90312b19.17e498","type":"link out","z":"b977efb9.d20e2","name":"","links":["aabe4419.80d908","b99eb03.99d0a5"],"x":735,"y":80,"wires":[]},{"id":"60f25b6e.577f84","type":"function","z":"b977efb9.d20e2","name":"","func":"var options=[];\nlet data=msg.payload;\nlet img,attachments;\nlet optButtons;\nif(msg.options!==undefined)\n{\n   msg.options.forEach(option=>{\n      options.push({\n          \"textButton\":\n          {\n              \"text\":option.stringValue,\n              \"onClick\":{\n                 \"action\":{\n                     \"actionMethodName\":option.stringValue\n                    //  \"parameters\":[{\n                    //  \"key\":\"callbackText\",\n                    //  \"value\":option.stringValue\n                    //  }\n                    //      ]\n                \n                 }\n              \n              }\n          }\n          });\n   \n          \n \n    \n});\n\n      optButtons= {\"buttons\":options} ;      \n                                \n         \n\n        \n                    \n            \n}\nelse\n{\n    optButtons={};\n}\nif(msg.photo===undefined)\n{\n  img={};\n}\nelse\n{\n    \n    img={\n        \"image\":{\"imageUrl\":msg.photo}\n            \n        \n        }\n        \n        \n        \n    \n         \n    \n    \n}\nlet userData=\"<b>\"+msg.userText+\"</b>\";\n\nif(msg.attachments)\n{\n   let url=msg.attachments.structValue.fields.url.stringValue;\n   let kind=msg.attachments.structValue.fields.name.stringValue;\n     attachments=kind+\"::\\n\"+url;\n    \n}\nelse\n{\n     attachments=\"\";\n}\n\n   \n   ///payload setting\n  msg.payload={\n      \n       \"cards\":[\n      \n           {\n            \"header\":\n             {\"title\":userData\n                          },    \n               \"sections\":[\n                   {\n                       \"widgets\":[img,\n                           {\n                               \"textParagraph\":{\n                                   \"text\":data\n                                   \n                               }\n                           }\n                        \n                           ]\n                   },\n                   \n               {  //section2\n                   \"widgets\":\n                   [\n                       optButtons,\n                        {\n                         \"textParagraph\":{\n                                 \"text\":attachments\n                   \n                                             }\n                   \n                         }\n               ]\n                   \n               }\n                      \n                   \n                   \n                   ]\n           }]\n           \n           \n       \n   }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":420,"wires":[["d8dfec28.49efe","83b19583.1de8e8"]]},{"id":"d8dfec28.49efe","type":"debug","z":"b977efb9.d20e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":340,"wires":[]},{"id":"d9626fdf.914a18","type":"dialogflowv2","z":"4b6a1e79.6e9a3","dialogflow":"bdeb09d9.a32a","language":"en","debug":false,"variable":"topic","x":520,"y":200,"wires":[["b95f2d7f.9fa2c","975545b2.3bae1"]]},{"id":"25d57b85.cbfa84","type":"link in","z":"4b6a1e79.6e9a3","name":"","links":["90dd7034.fa8008"],"x":135,"y":280,"wires":[["d9626fdf.914a18"]]},{"id":"b95f2d7f.9fa2c","type":"link out","z":"4b6a1e79.6e9a3","name":"","links":["47132bf3.9cd454"],"x":875,"y":80,"wires":[]},{"id":"90dd7034.fa8008","type":"link out","z":"7e15d0ae.0c1208","name":"","links":["25d57b85.cbfa84"],"x":825,"y":100,"wires":[]},{"id":"47132bf3.9cd454","type":"link in","z":"7e15d0ae.0c1208","name":"","links":["b95f2d7f.9fa2c"],"x":155,"y":300,"wires":[["5829ac6f.c0c13c"]]},{"id":"f7bac9.9b63dd38","type":"debug","z":"7e15d0ae.0c1208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":160,"wires":[]},{"id":"9e34ab85.a0a11","type":"debug","z":"7e15d0ae.0c1208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":380,"wires":[]},{"id":"5829ac6f.c0c13c","type":"function","z":"7e15d0ae.0c1208","name":"","func":"if(msg._dialogflow.fulfillmentText.length>0){\n    msg.payload=msg._dialogflow.fulfillmentText;\n}\nelse{\n    msg.payload={};\nif(msg._dialogflow.fulfillmentMessages[0].payload.fields.options){\n    const arr=[];\n    for(i=0;i<msg._dialogflow.fulfillmentMessages[0].payload.fields.options.listValue.values.length;i++){\n        arr.push({\n                    \"name\": \"option\",\n                    \"text\": msg._dialogflow.fulfillmentMessages[0].payload.fields.options.listValue.values[i].stringValue,\n                    \"type\": \"button\",\n                    \"value\": msg._dialogflow.fulfillmentMessages[0].payload.fields.options.listValue.values[i].stringValue\n        });\n    }\n    msg.payload={\n        \"text\":msg._dialogflow.fulfillmentMessages[0].payload.fields.text.stringValue,\n        \"attachments\":[{\n            \"fallback\": \"You are unable to choose an option \",\n            \"callback_id\": msg._msgid,\n            \"color\": \"#3AA3E3\",\n            \"attachment_type\": \"default\",\n            \"actions\": arr\n        }]\n    };\n}\n}\nreturn [ msg ];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":280,"wires":[["9e34ab85.a0a11","afffd3.a194603"]]},{"id":"975545b2.3bae1","type":"debug","z":"4b6a1e79.6e9a3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":300,"wires":[]},{"id":"afffd3.a194603","type":"slack-web-out","z":"7e15d0ae.0c1208","client":"e05671b4.4b47e8","name":"sender","x":790,"y":240,"wires":[[]]},{"id":"46a92819.db4af","type":"slack-rtm-in","z":"7e15d0ae.0c1208","client":"e05671b4.4b47e8","name":"","events":"","x":340,"y":80,"wires":[["90dd7034.fa8008","f7bac9.9b63dd38"]]},{"id":"9c483ad8.2b0c6","type":"slackbot-listen","z":"f90c4830.2fd0b","slackbot":"7a6bbd56.275fac","name":"","x":580,"y":220,"wires":[["a59b8e41.0da828","87c15bd3.2e804"]]},{"id":"a59b8e41.0da828","type":"slackbot-reply","z":"f90c4830.2fd0b","slackbot":"c08b5bde.b6adc","name":"","x":940,"y":340,"wires":[]},{"id":"87c15bd3.2e804","type":"debug","z":"f90c4830.2fd0b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":420,"wires":[]},{"id":"fe4da4f7.0cf9d8","type":"inject","z":"c9dcf400.7c4f18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":150,"y":260,"wires":[["d64eca5.bd52838"]]},{"id":"d64eca5.bd52838","type":"dialogflowv2","z":"c9dcf400.7c4f18","dialogflow":"df1dc080.22559","language":"en","debug":false,"variable":"topic","x":430,"y":260,"wires":[["6540252d.6ce9ac","349856ba.44be1a","fd4b3359.29852","b79232ef.48fe8"]]},{"id":"6540252d.6ce9ac","type":"debug","z":"c9dcf400.7c4f18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"_dialogflow.fulfillmentMessages[0].payload.fields.text.stringValue","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":420,"wires":[]},{"id":"349856ba.44be1a","type":"debug","z":"c9dcf400.7c4f18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"_dialogflow.fulfillmentMessages[0].payload.fields.options.listValue.values[0].stringValue","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":360,"wires":[]},{"id":"fd4b3359.29852","type":"function","z":"c9dcf400.7c4f18","name":"","func":"if(msg._dialogflow.fulfillmentMessages[0].payload!==undefined){\n    msg.payload=msg._dialogflow.fulfillmentMessages[0].payload.fields.text.stringValue; \n}\nelse {\n    msg.payload=msg._dialogflow.fulfillmentText;\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":140,"wires":[["3d5929e9.d6f886"]]},{"id":"3d5929e9.d6f886","type":"change","z":"c9dcf400.7c4f18","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"_dialogflow.fulfillmentMessages[0].payload.fields.options.listValue.values","tot":"msg"},{"t":"set","p":"photo","pt":"msg","to":"_dialogflow.fulfillmentMessages[0].payload.fields.photo.stringValue","tot":"msg"},{"t":"set","p":"attachments","pt":"msg","to":"msg._dialogflow.fulfillmentMessages[0].payload.fields.attachments","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":120,"wires":[["23befd40.4736a2"]]},{"id":"b79232ef.48fe8","type":"debug","z":"c9dcf400.7c4f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":300,"wires":[]},{"id":"b99eb03.99d0a5","type":"link in","z":"c9dcf400.7c4f18","name":"","links":["90312b19.17e498"],"x":15,"y":260,"wires":[["f02f1bb0.200408"]]},{"id":"23befd40.4736a2","type":"link out","z":"c9dcf400.7c4f18","name":"","links":["72afcc14.1833b4"],"x":955,"y":120,"wires":[]},{"id":"f02f1bb0.200408","type":"change","z":"c9dcf400.7c4f18","name":"","rules":[{"t":"set","p":"contexts","pt":"msg","to":"_dialogflow.outputContexts","tot":"msg"},{"t":"set","p":"userText","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":360,"wires":[["d64eca5.bd52838"]]},{"id":"b6345249.5a0f4","type":"debug","z":"b977efb9.d20e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":240,"wires":[]},{"id":"51f7a7ca.d95508","type":"PushMessage","z":"22fb0dec.b847c2","name":"","channelSecret":"b455caf60187153419f1e5a6108d720c","channelAccessToken":"cpKQ8v+vNHfja5fs2cX/FjykP2Lg/JWFf2L8fukkjDiuCh5WlfVp0rg7SVtX2JNTeVzXOsCylFYVEBRs578PUaLDL7zVp58kWiHh/E/EMdyPejTlyT2swknxC1e18snGq7xnJ4lP0cetE9ssuj1ffwdB04t89/1O/w1cDnyilFU=","targetId":" Uef4d3e758e95e7eac7973347ccb2266f","x":820,"y":540,"wires":[]},{"id":"f1e406a5.051648","type":"inject","z":"22fb0dec.b847c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"chatbot","payloadType":"str","x":270,"y":540,"wires":[["9232c366.61c0c"]]},{"id":"c5f673dc.ca273","type":"inject","z":"22fb0dec.b847c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"welcom from line","payloadType":"str","x":420,"y":620,"wires":[["4814b38b.ca45dc"]]},{"id":"4814b38b.ca45dc","type":"PushMessage","z":"22fb0dec.b847c2","name":"","channelSecret":"b455caf60187153419f1e5a6108d720c","channelAccessToken":"cpKQ8v+vNHfja5fs2cX/FjykP2Lg/JWFf2L8fukkjDiuCh5WlfVp0rg7SVtX2JNTeVzXOsCylFYVEBRs578PUaLDL7zVp58kWiHh/E/EMdyPejTlyT2swknxC1e18snGq7xnJ4lP0cetE9ssuj1ffwdB04t89/1O/w1cDnyilFU=","targetId":" Uef4d3e758e95e7eac7973347ccb2266f","x":800,"y":680,"wires":[]},{"id":"b7e7a24.aa4a66","type":"debug","z":"22fb0dec.b847c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":180,"wires":[]},{"id":"1e744908.c5e477","type":"dialogflowv2","z":"21686f7c.322a1","dialogflow":"8871380c.5036e8","language":"en","debug":false,"variable":"topic","x":680,"y":340,"wires":[["ebe3966f.5443d8","b70db32a.fac8f","250d9c26.6b2f64","f09bc93b.2e6728"]]},{"id":"ebe3966f.5443d8","type":"debug","z":"21686f7c.322a1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":340,"wires":[]},{"id":"4c38e0cc.8d488","type":"inject","z":"21686f7c.322a1","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"helo","payloadType":"str","x":90,"y":340,"wires":[["1e744908.c5e477"]]},{"id":"b70db32a.fac8f","type":"debug","z":"21686f7c.322a1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"_dialogflow.fulfillmentMessages[0].payload.fields.options.listValue.values","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":440,"wires":[]},{"id":"250d9c26.6b2f64","type":"debug","z":"21686f7c.322a1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"_dialogflow.fulfillmentMessages[0].payload.fields.text.stringValue","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":560,"wires":[]},{"id":"f09bc93b.2e6728","type":"function","z":"21686f7c.322a1","name":"","func":"if(msg._dialogflow.fulfillmentMessages[0].payload!==undefined){\n    msg.payload=msg._dialogflow.fulfillmentMessages[0].payload.fields.text.stringValue; \n}\nelse {\n    msg.payload=msg._dialogflow.fulfillmentText;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":120,"wires":[["74753a86.0806e4"]]},{"id":"74753a86.0806e4","type":"change","z":"21686f7c.322a1","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"_dialogflow.fulfillmentMessages[0].payload.fields.options.listValue.values","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":120,"wires":[["9da99cb.b13156"]]},{"id":"9da99cb.b13156","type":"function","z":"21686f7c.322a1","name":"","func":"var optsArr=msg.options;\nvar values=[];\nif(optsArr!==undefined){\n    for(i=0; i< optsArr.length; i++){\n        \n    //   \n      values.push({\"text\":optsArr[i].stringValue,\n                    \"callback_data\":optsArr[i].stringValue});\n    }\n    // delete msg.originalMessage.message;\n    msg.options=[values];\n}\nelse {\n    msg.options=null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":120,"wires":[["aec86d9f.10e21"]]},{"id":"3d17df5d.dd45a","type":"change","z":"21686f7c.322a1","name":"","rules":[{"t":"set","p":"contexts","pt":"msg","to":"_dialogflow.outputContexts","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":440,"wires":[["1e744908.c5e477"]]},{"id":"324a6e3d.68d6e2","type":"link in","z":"21686f7c.322a1","name":"","links":["9232c366.61c0c"],"x":95,"y":440,"wires":[["3d17df5d.dd45a"]]},{"id":"aec86d9f.10e21","type":"link out","z":"21686f7c.322a1","name":"","links":["4329b820.bdd4e8"],"x":1205,"y":120,"wires":[]},{"id":"4329b820.bdd4e8","type":"link in","z":"22fb0dec.b847c2","name":"","links":["aec86d9f.10e21"],"x":145,"y":680,"wires":[["4814b38b.ca45dc"]]},{"id":"9232c366.61c0c","type":"link out","z":"22fb0dec.b847c2","name":"","links":["324a6e3d.68d6e2"],"x":1135,"y":340,"wires":[]},{"id":"44c8acc2.1f7144","type":"websocket out","z":"bf1c8c8e.a3269","name":"","server":"ad400d33.8ba74","client":"","x":580,"y":360,"wires":[]},{"id":"fd702629.f475e8","type":"http response","z":"bf1c8c8e.a3269","name":"","statusCode":"","headers":{},"x":510,"y":140,"wires":[]},{"id":"537abfd6.3158f","type":"http in","z":"bf1c8c8e.a3269","name":"","url":"/simple","method":"get","upload":false,"swaggerDoc":"","x":172,"y":140,"wires":[["f440b8b4.a0abf8"]]},{"id":"f440b8b4.a0abf8","type":"template","z":"bf1c8c8e.a3269","name":"ORCA","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<link rel=\"icon\" href=\"https://api.tezsolutions.in/images/ORCA/Icon.png\">\n<script src=\"https://code.jquery.com/jquery-3.5.1.js\"></script> \n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js\"></script>\n<link rel=\"stylesheet\" href=\"https://cdnjms.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css\"/>\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css\"/>\n<style>\n@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');\n@import url(\"https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap\");\nbody,\nhtml {\n  font-family: Red hat Display, sans-serif;\n  font-weight: 400;\n  line-height: 1.25em;\n  letter-spacing: 0.025em;\n  color: #333;\n  background: #f7f7f7;\n}\n.orca-chat{\n     font-family: Red hat Display, sans-serif;\n      font-weight: 400;\n      line-height: 1.25em;\n      letter-spacing: 0.025em;\n      color: #333;\n      text-transform:none !important;\n      text-align:left !important;\n}\n#closeButton{\n    cursor:pointer;\n}\n.begin{\n    box-shadow:0px 0px 10px rgba(0,0,0,.3);\n    transition:0.5s;\n    border-radius:50%;\n}\n.begin:hover{\n    box-shadow:0px 4px 24px rgba(0,0,0,.5);\n    transition:0.5s;\n}\n.center {\n  position: absolute;\n  top: 50%;\n  left: calc(50% + 12rem);\n  -webkit-transform: translate(-50%, -50%);\n          transform: translate(-50%, -50%);\n}\n.closeBtn{\n    cursor:pointer;\n    color:#000 !important;\n}\n#closeButton i{\n    color:#666 !important;\n}\n\n.pic {\n  width: 4rem;\n  height: 4rem;\n  background-size: cover;\n  background-position: center;\n  border-radius: 50%;\n  cursor:pointer;\n  box-shadow:0px 2px 10px rgba(0,0,0,.2);\n}\n\n.contact {\n  position: relative;\n  margin-bottom: 1rem;\n  padding-left: 5rem;\n  height: 4.5rem;\n  display: -webkit-box;\n  display: flex;\n  -webkit-box-orient: vertical;\n  -webkit-box-direction: normal;\n          flex-direction: column;\n  -webkit-box-pack: center;\n          justify-content: center;\n}\n.contact .pic {\n  position: absolute;\n  left: 0;\n}\n.contact .name {\n  font-weight: 500;\n  margin-bottom: 0.125rem;\n}\n.contact .message,\n.contact .seen {\n  font-size: 0.9rem;\n  color: #999;\n}\n.contact .badge {\n  box-sizing: border-box;\n  position: absolute;\n  width: 1.5rem;\n  height: 1.5rem;\n  text-align: center;\n  font-size: 0.9rem;\n  padding-top: 0.125rem;\n  border-radius: 1rem;\n  top: 0;\n  left: 2.5rem;\n  background: #333;\n  color: white;\n}\n\n.contacts {\n  display:none;\n  position: absolute;\n  top: 50%;\n  left: 0;\n  -webkit-transform: translate(-6rem, -50%);\n          transform: translate(-6rem, -50%);\n  width: 24rem;\n  height: 32rem;\n  padding: 1rem 2rem 1rem 1rem;\n  box-sizing: border-box;\n  border-radius: 1rem 0 0 1rem;\n  cursor: pointer;\n  background: white;\n  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 2rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);\n  -webkit-transition: -webkit-transform 500ms;\n  transition: -webkit-transform 500ms;\n  transition: transform 500ms;\n  transition: transform 500ms, -webkit-transform 500ms;\n}\n.contacts h2 {\n  margin: 0.5rem 0 1.5rem 5rem;\n}\n.contacts .fa-bars {\n  position: absolute;\n  left: 2.25rem;\n  color: #999;\n  -webkit-transition: color 200ms;\n  transition: color 200ms;\n}\n.contacts .fa-bars:hover {\n  color: #666;\n}\n.contacts .contact:last-child {\n  margin: 0;\n}\n.contacts:hover {\n  -webkit-transform: translate(-23rem, -50%);\n          transform: translate(-23rem, -50%);\n}\n\n.orca-chat {\n  position: relative;\n  display: -webkit-box;\n  display: flex;\n  -webkit-box-orient: vertical;\n  -webkit-box-direction: normal;\n          flex-direction: column;\n  -webkit-box-pack: justify;\n          justify-content: space-between;\n  width: 24rem;\n  height: 38rem;\n  z-index: 2;\n  box-sizing: border-box;\n  border-radius: 1rem;\n  background: white;\n  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);\n  transition-duration: 0.5s;\n}\n\n.orca-chat.closed{\n    width: 6rem;\n    height: 6rem;\n    transition-duration: 0.5s;\n    border-radius: 50%;\n}\n\n.orca-chat .contact.bar {\n  flex-basis: 3.5rem;\n  flex-shrink: 0;\n  margin: 1rem;\n  box-sizing: border-box;\n}\n.orca-chat .messages {\n  height: inherit;\n  padding: 1rem;\n  background: #f7f7f7;\n  flex-shrink: 2;\n  overflow-y: auto;\n  border:none;\n  outline:none;\n  /*scroll-behavior:smooth;*/\n  box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);\n}\n.orca-chat .input img{\n    width:350px;\n    height:370px;\n    outline:none;\n    border:0;\n}\n.orca-chat .messages .time {\n  font-size: 0.8rem;\n  background: #eee;\n  padding: 0.25rem 1rem;\n  border-radius: 2rem;\n  color: #999;\n  width: -webkit-fit-content;\n  width: -moz-fit-content;\n  width: fit-content;\n  margin: 0 auto;\n}\n.orca-chat .messages .message {\n  box-sizing: border-box;\n  padding: 0.5rem 1rem;\n  margin: 1rem;\n  background: #fff;\n  border-radius: 1.125rem 1.125rem 1.125rem 0;\n  min-height: 2.25rem;\n  width: -webkit-fit-content;\n  width: -moz-fit-content;\n  width: fit-content;\n  max-width: 66%;\n  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);\n  \n}\n.orca-chat .messages .message.parker {\n  margin: 1rem 1rem 1rem auto;\n  border-radius: 1.125rem 1.125rem 0 1.125rem;\n  background: #333;\n  color: white;\n}\n.orca-chat .messages .message .typing {\n  display: inline-block;\n  width: 0.8rem;\n  height: 0.8rem;\n  margin-right: 0rem;\n  box-sizing: border-box;\n  background: #ccc;\n  border-radius: 50%;\n}\n.orca-chat .messages .message .typing.typing-1 {\n  -webkit-animation: typing 3s infinite;\n          animation: typing 3s infinite;\n}\n.orca-chat .messages .message .typing.typing-2 {\n  -webkit-animation: typing 3s 250ms infinite;\n          animation: typing 3s 250ms infinite;\n}\n.orca-chat .messages .message .typing.typing-3 {\n  -webkit-animation: typing 3s 500ms infinite;\n          animation: typing 3s 500ms infinite;\n}\n.orca-chat .input {\n  box-sizing: border-box;\n  flex-basis: 4rem;\n  flex-shrink: 0;\n  display: -webkit-box;\n  display: flex;\n  -webkit-box-align: center;\n          align-items: center;\n  padding: 0 0.5rem 0 1.5rem;\n}\n.orca-chat .input i {\n  font-size: 1.5rem;\n  margin-right: 1rem;\n  color: #666 !important;\n  cursor: pointer;\n  -webkit-transition: color 200ms;\n  transition: color 200ms;\n}\n.orca-chat .input i:hover {\n  color: #333;\n}\n.orca-chat .input input {\n  border: none;\n  outline:none;\n  background-image: none;\n  background-color: white;\n  padding: 0.5rem 1rem;\n  margin-right: 1rem;\n  border-radius: 1.125rem;\n  -webkit-box-flex: 2;\n          flex-grow: 2;\n  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);\n  font-family: Red hat Display, sans-serif;\n  font-weight: 400;\n  letter-spacing: 0.025em;\n  font-size:13px !important;\n  transition:0.3s;\n}\n.orca-chat .input input:hover{\n    box-shadow:0px 0px 5px rgba(0,0,0,.3),0px 0px 10px rgba(0,0,0,.3),0px 0px 15px rgba(0,0,0,.3);\n    transition:0.3s;\n}\n.orca-chat .input input:placeholder {\n  color: #999;\n}\n\n@-webkit-keyframes typing {\n  0%,\n\t75%,\n\t100% {\n    -webkit-transform: translate(0, 0.25rem) scale(0.9);\n            transform: translate(0, 0.25rem) scale(0.9);\n    opacity: 0.5;\n  }\n  25% {\n    -webkit-transform: translate(0, -0.25rem) scale(1);\n            transform: translate(0, -0.25rem) scale(1);\n    opacity: 1;\n  }\n}\n\n@keyframes typing {\n  0%,\n\t75%,\n\t100% {\n    -webkit-transform: translate(0, 0.25rem) scale(0.9);\n            transform: translate(0, 0.25rem) scale(0.9);\n    opacity: 0.5;\n  }\n  25% {\n    -webkit-transform: translate(0, -0.25rem) scale(1);\n            transform: translate(0, -0.25rem) scale(1);\n    opacity: 1;\n  }\n}\n.pic.stark {\n  background-image: url(\"https://embiote.in/wp-content/uploads/2020/02/EmbIOTe-Logo-57.png\");\n}\n\n.pic.banner {\n  background-image: url(\"https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/4/4f/BruceHulk-Endgame-TravelingCapInPast.jpg\");\n}\n\n.pic.thor {\n  background-image: url(\"https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/9/98/ThorFliesThroughTheAnus.jpg\");\n}\n\n.pic.danvers {\n  background-image: url(\"https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/0/05/HeyPeterParker.png\");\n}\n\n.pic.rogers {\n  background-image: url(\"https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/7c/Cap.America_%28We_Don%27t_Trade_Lives_Vision%29.png\");\n}\n\n\n\n\n/*.message.stark.extra {*/\n/*    outline: none;*/\n/*    border: none;*/\n/*    cursor:pointer;*/\n/*    position: relative;*/\n/*    display: inline-block;*/\n/*    background: #e6e6e6 !important;*/\n/*    transition: 0.3s;*/\n/*    color: #3c3636;*/\n/*    width: 300px;*/\n/*    height: 60px;*/\n/*    padding: 5px 5px !important;*/\n/*    font-weight: 600;*/\n/*    font-size: 18px;*/\n/*    margin: -3px;*/\n/*    transform: scale(0.8);*/\n/*    transition: 0.5s;*/\n/*    border-radius: 1.125rem;*/\n/*}*/\n/*.message.stark.extra:hover{*/\n/*    background:#908b8b !important;*/\n/*    color:#fff;*/\n/*    transition:0.5s;*/\n/*    transform:scale(0.9);*/\n/*    box-shadow:2px 8px 15px rgba(0,0,0,.3);*/\n/*    transition:0.5;*/\n/*}*/\n.message.stark.extra{\n    outline: none;\n    border: none;\n    cursor:pointer;\n    font-size:10px;\n    margin:8px !important;\n    transition:0.2s;\n    transform: scale(1);\n}\n.message.stark.extra:hover{\n    box-shadow:0 0 3rem rgba(0, 0, 0, 0.095), 0rem 1rem 1.5rem -1rem rgba(0, 0, 0, 0.2);\n    transition:0.2s;\n    transform: scale(1.09);\n}\n.messages::-webkit-scrollbar {\n    width:6px;\n    \n}\n.messages::-webkit-scrollbar-thumb{\n    border-radius:6px;\n    background-color: #000000;\n    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);\n}\n\n.back::selection{\n    background:transparent;\n    color:blue;\n}\n\n .linkText{\n         font-weight: 600;\n         text-decoration:none;\n         \n\n      }\n.orca-chat .messages .timer{\n      font-size: 0.7rem;\n      color: #999;\n      margin-top:-10px;\n      width: -webkit-fit-content;\n      width: -moz-fit-content;\n      width: fit-content;\n      margin-left: 235px;\n}\n\n.orca-chat .messages .bot-timer{\n      font-size: 0.7rem;\n      color: #999;\n      margin-top:-10px;\n      width: -webkit-fit-content;\n      width: -moz-fit-content;\n      width: fit-content;\n      margin-left: 20px;\n}\n      \n    </style>\n    <script type=\"text/javascript\">\n//     var idVar = setInterval(() => { \n// \t\tdatetime\n// \t}, 1000);\n\n    var datetime;\n    var sound = new Audio();\n    sound.src = 'https://www.zapsplat.com/wp-content/uploads/2015/sound-effects-35448/zapsplat_cartoon_bubble_pop_003_40275.mp3';\n         \n          \n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        var responseMessage = {};\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            // ws = new WebSocket(wsUri);\n            ws = new WebSocket(\"wss://devapi.orca.embiote.in/ws/simple\");\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                \n                var data = JSON.parse(msg.data);\n                responseMessage[\"context\"] = data[\"context\"];\n                console.log(msg);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data.text+\"</p>\";\n                \n                // replace the messages div with the new \"line\"\n                // document.getElementsByClassName('messages').innerHTML = line;\n                 $(\"#typing-blob\").remove()\n                    $(\"#chat\").append(\"<div class='message stark back'>\"+line+\"</div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                    if(data.options!==null){\n                        for (let i=0; i < data.options[0].length;i++){\n                            if (data.options[0][i].text !== undefined){\n                                $(\"#chat\").append(\"<button class='message stark extra' data-value=\\\"\" + data.options[0][i].text + \"\\\" onclick='myFun(this)'> <span>\" + data.options[0][i].text + \"</span></button>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                            }\n                        }\n                    }\n                    timing();\n                $(\"#chat\").append(`<div class='bot-timer' id='time'>Today at ${datetime} </div>`).animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                \n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                // document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                // document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n        \n        \n        function openChatBox(){\n            \n            $(\"#chatBox\").removeClass(\"closed\")\n            $(\"#closeButton\").show();\n        }\n         function closeChatBox(){\n            $(\"#chatBox\").addClass(\"closed\")\n            $(\"#closeButton\").hide();\n         }\n         \n        //  $(document).delegate(\"#Query\", \"keyup\", function(event) { \n        //     if (event.keyCode === 13) { \n        //         $(\"#send\").click(); \n        //     } \n        // });\n         function timing() {\n       var currentdate = new Date(); \n      var hrs=currentdate.getHours();\n      console.log(hrs);\n      console.log(typeof(hrs));\n      var day;\n      if(hrs>12)\n      {\n          hrs=hrs-12;\n          console.log(hrs);\n          day=\"PM\";\n          \n      }\n      else\n      {\n          day=\"AM\";\n      }\n      \n         datetime =  + hrs+ \":\"  \n                        + currentdate.getMinutes()+\" \"+day;\n        console.log(datetime);\n     };\n        \n        function sendMessage(userResponse) {\n            if(userResponse !== \"\"){\n                responseMessage[\"text\"] = userResponse\n                doit(JSON.stringify(responseMessage));\n                responseMessage={};\n                $(\"#chat\").append(\"<div class='message parker'>\"+userResponse+\"</div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                timing();\n                $(\"#chat\").append(`<div class='timer' id='time'>Today at ${datetime} </div>`).animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                sound.play();\n                $(\"#chat\").append(\"<div class='message stark' id='typing-blob'><div class='typing typing-1'></div><div class='typing typing-2'></div><div class='typing typing-3'></div></div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                $(\"#Query\").val(\"\");\n                setTimeout(function () {\n                    $(\"#typing-blob\").remove()\n                }, 5000);\n            }\n        }\n        \n//         <button class=\"btn btn-primary\" onclick= \n// '$.playSound(\"http://soundbible.com/mp3/Gum_Bubble_Pop-Sound_Explorer-1206462561.mp3\")'> \n// \t\t\tClick Me! \n// \t\t</button> \n        \n        // $(document).delegate(\"#send\", \"click\", function() {\n        //     var userResponse = $(\"#Query\").val();\n        //     console.log(userResponse);\n        //     sendMessage(userResponse);\n        //     userResponse=\"\";\n        // });\n        // $(document).delegate(\"#send\", \"onkeypress\", function() {\n           \n        //     var userResponse = $(\"#Query\").val();\n        //     console.log(userResponse);\n        //     sendMessage(userResponse);\n        //     userResponse=\"\";\n        // });\n        function sendFromTextBox()\n        {\n            var userResponse = $(\"#Query\").val();\n            console.log(userResponse);\n            sendMessage(userResponse);\n            userResponse=\"\";\n            \n        }\n        // function sendQuery(opt) {\n        //   document.querySelector(\"#chatBox > div.input > input\").value = opt;\n        // }\n        function myFun(btn){\n            console.log(btn.dataset.value);\n            userResponse = btn.dataset.value;\n            sendMessage(userResponse);\n    }\n        \n                $( document ).ready(function() {\n            $(\"#closeButton\").hide();\n            setTimeout(function () {\n                $(\"#chatBox\").removeClass(\"closed\");\n                $(\"#closeButton\").show();\n            }, 5000);\n            \n        });\n\n         \n        function record() {\n            $(document).ready(function(){\n                    $('input[name=\"msg-txt\"]').attr('placeholder','Listening.....');\n                })\n            setTimeout(() => {\n             $(document).ready(function(){\n                 $('input[name=\"msg-txt\"]').attr('placeholder','Type your message here!');\n                })\n                }, 4000);\n            var recognition = new webkitSpeechRecognition();\n            recognition.lang = \"en-GB\";\n            recognition.onresult = function(event) {\n                console.log(event);\n                document.getElementById('Query').value = event.results[0][0].transcript;\n                setTimeout(() => { \n                 var userResponse = $(\"#Query\").val();\n                    console.log(userResponse);\n                    \n                    sendMessage(userResponse);\n                    userResponse=\"\"; \n                    }, 2000);\n                \n                $(document).ready(function(){\n                 $('input[name=\"msg-txt\"]').attr('placeholder','Type your message here!');\n                })\n                \n\n            }\n            recognition.start();\n        }\n      function iconFunction()\n      {\n          if(document.getElementById('micIcon').className==\"fas fa-microphone\")\n          {\n              record();\n          }\n          if(document.getElementById('micIcon').className==\"fas fa-paper-plane\")\n          {\n              sendFromTextBox();\n          }\n          \n          \n      }\n    </script>\n        \n    <div class=\"container-fluid\">\n        <div style=\"position : fixed; bottom: 5px; right: 0px; z-index:9999\"> <!--Begin Chatbot Code-->\n          <div id=\"chatBox\" class=\"orca-chat closed animate__animated animate__heartbeat\">\n            <div class=\"contact bar\" onclick=\"openChatBox()\">\n              <div class=\"pic stark\"></div>\n              <div class=\"name\">\n                EmbIOTe Bot\n              </div>\n              <div class=\"seen\">\n               Just Now\n             \n              </div>\n            </div>\n            <div id=\"closeButton\" style=\"position: absolute; top: 2rem; right: 2rem;\" onclick=\"closeChatBox()\">\n                <i class=\"fas fa-window-close\"></i>\n            </div>\n            <div class=\"messages\" id=\"chat\">\n              <div class=\"message stark\">\n                Hi there! How can I help you?\n              </div>\n              <img id=\"preview\" />\n            </div>\n            <div class=\"input\">\n              <i class=\"far fa-laugh-beam\"></i>\n              <input type=\"file\" id=\"real-file\" hidden=\"hidden\" name=\"file\" accept=\"image/*\" onchange=\"previewImage();\"/>\n              <!--<i class=\"fas fa-paperclip\" id=\"custom-button\"></i>-->\n             \n             <!-- <input id=\"Query\" placeholder=\"Type your message here!\" type=\"text\" autocomplete=\"off\" name=\"msg-txt\" />-->\n            <input id=\"Query\" placeholder=\"Type your message here!\" type=\"text\" autocomplete=\"off\" name=\"msg-txt\" onkeyup=\"changeIcon('micIcon')\"/>\n              <i class=\"fas fa-microphone\" onclick=\"iconFunction()\" id=\"micIcon\"></i>\n              <!--<i class=\"fas fa-paper-plane\" id=\"send\"></i>-->\n            </div>\n          </div>\n        </div> <!--End Chatbot Code-->\n        <!--<b-img src=\"./images/node-blue-192x192.png\" rounded left v-bind=\"imgProps\" alt=\"Blue Node-RED\" class=\"mt-1 mr-2\"></b-img>-->\n        <!--<img src=\"https://api.tezsolutions.in/images/ORCA/Logo.png\" fluid alt=\"ORCA Logo\">\n        <h1 style=\"text-align: center;\">\n            <br>\n            Omni Resource Collaboration Agent\n        </h1>-->\n    </div> <!--closed container-->\n\n    <script>\n        $(document).ready(function() {\n            wsConnect();\n        });\n        \n        const realFileBtn = document.getElementById(\"real-file\");\n        const customBtn = document.getElementById(\"custom-button\");\n        const customTxt = document.getElementById(\"custom-text\");\n        \n        \n        //changeicon code\n        function changeIcon(f1)\n        {\tvar keycode = (event.keyCode ? event.keyCode : event.which);\n                    if(document.getElementById(f1).className==\"fas fa-microphone\")\n              \t\t{\n              \t\t\t\n              \t\t\tif(keycode!=32 && keycode!=8)\n              \t\t\t{\n              \t\t\t\tdocument.getElementById(f1).className=\"fas fa-paper-plane\";\n              \t\t\t\t\n              \t\t\t}              \t\t\t\n        \t       }\n              \t\telse{\n              \t\t    if(keycode==8)\n              \t\t    {\n              \t\t        //console.log(keycode);\n              \t\t        var content=document.getElementById('Query').value;\n              \t\t        if(content==\"\")\n              \t\t        {\n              \t\t            document.getElementById(f1).className=\"fas fa-microphone\";\n              \t\t        }\n              \t\t        \n              \t\t    }\n              \t\t   else if(keycode==13)\n\n              \t\t    {\n              \t\t        sendFromTextBox();\n              \t\t        document.getElementById(f1).className=\"fas fa-microphone\";\n              \t\t        \n              \t\t    }\n              \t\t    else{\n              \t\tdocument.getElementById(f1).className=\"fas fa-paper-plane\";}\n              \t}\n                \n        }\n        \n        \n        \n        \n        \n        \n        //\n    \n        // customBtn.addEventListener(\"click\", function() {\n        //   realFileBtn.click();\n        // });\n        \n        function previewImage() {\n        var file = document.getElementById(\"real-file\").files;\n        if (file.length > 0) {\n          var fileReader = new FileReader();\n    \n          fileReader.onload = function (event) {\n            document.getElementById(\"preview\").setAttribute(\"src\", event.target.result);\n          };\n                \n          fileReader.readAsDataURL(file[0]);\n        }\n    }\n    // $('#Query').emojioneArea({\n    //     pickerPosition:'top'\n    // });\n     \n    </script>\n\n","x":350,"y":140,"wires":[["fd702629.f475e8"]]},{"id":"aa172c1a.b0da8","type":"websocket in","z":"bf1c8c8e.a3269","name":"","server":"ad400d33.8ba74","client":"","x":200,"y":240,"wires":[["fbed7b4b.799448","aabee24c.25c71"]]},{"id":"fbed7b4b.799448","type":"debug","z":"bf1c8c8e.a3269","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":280,"wires":[]},{"id":"6e8d8c7f.815a44","type":"link in","z":"bf1c8c8e.a3269","name":"","links":["746b3ac3.ebb494","2990992b.1c7c46"],"x":155,"y":360,"wires":[["cdeb96f.bc02368","2672d4da.0890fc"]]},{"id":"d5371880.da1318","type":"link out","z":"bf1c8c8e.a3269","name":"","links":["bc4e8155.9ff61","47ecb451.1e24ec"],"x":675,"y":240,"wires":[]},{"id":"cdeb96f.bc02368","type":"debug","z":"bf1c8c8e.a3269","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":400,"wires":[]},{"id":"463bc940.5dcc78","type":"function","z":"bf1c8c8e.a3269","name":"","func":"var payload = msg.payload;\nvar context = msg._dialogflow.outputContexts;\nmsg.payload={};\nmsg.payload.text=payload;\nmsg.payload.options = msg.options;\nmsg.payload.context=context;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":360,"wires":[["44c8acc2.1f7144"]]},{"id":"2672d4da.0890fc","type":"switch","z":"bf1c8c8e.a3269","name":"websocket","property":"src","propertyType":"msg","rules":[{"t":"eq","v":"websocket","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":360,"wires":[["463bc940.5dcc78"]]},{"id":"5e8a807e.28d0e","type":"function","z":"bf1c8c8e.a3269","name":"","func":"var m=msg.payload;\nmsg.payload=m.text;\nmsg.contexts=m.context;\nmsg.src=\"websocket\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":240,"wires":[["d5371880.da1318","d1dc6752.7642c8"]]},{"id":"d1dc6752.7642c8","type":"debug","z":"bf1c8c8e.a3269","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":280,"wires":[]},{"id":"aabee24c.25c71","type":"json","z":"bf1c8c8e.a3269","name":"","property":"payload","action":"","pretty":false,"x":390,"y":240,"wires":[["5e8a807e.28d0e"]]},{"id":"7012fe8.b08f5","type":"websocket out","z":"cb034793.669ad8","name":"","server":"7697fb4a.831394","client":"","x":550,"y":360,"wires":[]},{"id":"2be6f1d0.9e187e","type":"http response","z":"cb034793.669ad8","name":"","statusCode":"","headers":{},"x":510,"y":140,"wires":[]},{"id":"c859f5c9.b42138","type":"http in","z":"cb034793.669ad8","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":142,"y":140,"wires":[["384e33b8.aa3e7c"]]},{"id":"384e33b8.aa3e7c","type":"template","z":"cb034793.669ad8","name":"ORCA","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<link rel=\"icon\" href=\"https://api.tezsolutions.in/images/ORCA/Icon.png\">\n<script src=\"https://code.jquery.com/jquery-3.5.1.js\"></script> \n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js\"></script>\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css\"/>\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css\"/>\n<script src=\"https://devapi.orca.embiote.in/orca/team-bot/js/vendor/blink-title.js\"></script>\n<style>\n@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');\n@import url(\"https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap\");\nbody,\nhtml {\n  font-family: Red hat Display, sans-serif;\n  font-weight: 400;\n  line-height: 1.25em;\n  letter-spacing: 0.025em;\n  color: #333;\n  background: #f7f7f7;\n}\n#hidden_emoji_box{\n  trasition:2.5s;\n background: white;\npadding-top: 10px;\n padding-left: -1px;\n padding-right: 12px;\n  height:150px;\n  width:300px;\n display:none;\n  position: absolute;\n  left: -18%;\n  top: 63%;\n  z-index:10;\n border-radius: 5px;\n  border:2px solid #000;\n  overflow:auto;\n}\n\n.emoji_single{\n  padding: 2px 0 2px 4px;\n/*   display: inline-block; */\n}\n\n.emoji_single:hover{\n  cursor:pointer;\n  background: #bdc3c7; \n background: yellow\n}\n#emoji_select_active\n{\n position: absolute;\nleft: -16%;\n top: 90%;\n  z-index:20;\n display:none;\n  font-size:21px;\n      \n} \n#emoji_select_active:hover\n{\n  cursor:pointer;\n}\n\n.orca-chat{\n     font-family: Red hat Display, sans-serif;\n      font-weight: 400;\n      line-height: 1.25em;\n      letter-spacing: 0.025em;\n      color: #333;\n      text-transform:none !important;\n      text-align:left !important;\n}\n#closeButton{\n    cursor:pointer;\n}\n.begin{\n    box-shadow:0px 0px 10px rgba(0,0,0,.3);\n    transition:0.5s;\n    border-radius:50%;\n}\n.begin:hover{\n    box-shadow:0px 4px 24px rgba(0,0,0,.5);\n    transition:0.5s;\n}\n.center {\n  position: absolute;\n  top: 50%;\n  left: calc(50% + 12rem);\n  -webkit-transform: translate(-50%, -50%);\n          transform: translate(-50%, -50%);\n}\n.closeBtn{\n    cursor:pointer;\n    color:#000 !important;\n}\n#closeButton i{\n    color:#666 !important;\n}\n\n.pic {\n  width: 4rem;\n  height: 4rem;\n  background-size: cover;\n  background-position: center;\n  border-radius: 50%;\n  cursor:pointer;\n  box-shadow:0px 2px 10px rgba(0,0,0,.2);\n}\n\n.contact {\n  position: relative;\n  margin-bottom: 1rem;\n  padding-left: 5rem;\n  height: 4.5rem;\n  display: -webkit-box;\n  display: flex;\n  -webkit-box-orient: vertical;\n  -webkit-box-direction: normal;\n          flex-direction: column;\n  -webkit-box-pack: center;\n          justify-content: center;\n}\n.contact .pic {\n  position: absolute;\n  left: 0;\n}\n.contact .name {\n  font-weight: 500;\n  margin-bottom: 0.125rem;\n}\n.contact .message,\n.contact .seen {\n  font-size: 0.9rem;\n  color: #999;\n}\n.contact .badge {\n  box-sizing: border-box;\n  position: absolute;\n  width: 1.5rem;\n  height: 1.5rem;\n  text-align: center;\n  font-size: 0.9rem;\n  padding-top: 0.125rem;\n  border-radius: 1rem;\n  top: 0;\n  left: 2.5rem;\n  background: #333;\n  color: white;\n}\n\n.contacts {\n  display:none;\n  position: absolute;\n  top: 50%;\n  left: 0;\n  -webkit-transform: translate(-6rem, -50%);\n          transform: translate(-6rem, -50%);\n  width: 24rem;\n  height: 32rem;\n  padding: 1rem 2rem 1rem 1rem;\n  box-sizing: border-box;\n  border-radius: 1rem 0 0 1rem;\n  cursor: pointer;\n  background: white;\n  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 2rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);\n  -webkit-transition: -webkit-transform 500ms;\n  transition: -webkit-transform 500ms;\n  transition: transform 500ms;\n  transition: transform 500ms, -webkit-transform 500ms;\n}\n.contacts h2 {\n  margin: 0.5rem 0 1.5rem 5rem;\n}\n.contacts .fa-bars {\n  position: absolute;\n  left: 2.25rem;\n  color: #999;\n  -webkit-transition: color 200ms;\n  transition: color 200ms;\n}\n.contacts .fa-bars:hover {\n  color: #666;\n}\n.contacts .contact:last-child {\n  margin: 0;\n}\n.contacts:hover {\n  -webkit-transform: translate(-23rem, -50%);\n          transform: translate(-23rem, -50%);\n}\n\n.orca-chat {\n  position: relative;\n  display: -webkit-box;\n  display: flex;\n  -webkit-box-orient: vertical;\n  -webkit-box-direction: normal;\n          flex-direction: column;\n  -webkit-box-pack: justify;\n          justify-content: space-between;\n  width: 24rem;\n  height: 38rem;\n  z-index: 2;\n  box-sizing: border-box;\n  border-radius: 1rem;\n  background: white;\n  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);\n  transition-duration: 0.5s;\n}\n\n.orca-chat.closed{\n    width: 6rem;\n    height: 6rem;\n    transition-duration: 0.5s;\n    border-radius: 50%;\n}\n\n.orca-chat .contact.bar {\n  flex-basis: 3.5rem;\n  flex-shrink: 0;\n  margin: 1rem;\n  box-sizing: border-box;\n}\n.orca-chat .messages {\n  height: inherit;\n  padding: 1rem;\n  background: #f7f7f7;\n  flex-shrink: 2;\n  overflow-y: auto;\n  border:none;\n  outline:none;\n  /*scroll-behavior:smooth;*/\n  box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);\n}\n.orca-chat .input img{\n    width:350px;\n    height:370px;\n    outline:none;\n    border:0;\n}\n.orca-chat .messages .time {\n  font-size: 0.8rem;\n  background: #eee;\n  padding: 0.25rem 1rem;\n  border-radius: 2rem;\n  color: #999;\n  width: -webkit-fit-content;\n  width: -moz-fit-content;\n  width: fit-content;\n  margin: 0 auto;\n}\n.orca-chat .messages .message {\n  box-sizing: border-box;\n  padding: 0.5rem 1rem;\n  margin: 1rem;\n  background: #fff;\n  border-radius: 1.125rem 1.125rem 1.125rem 0;\n  min-height: 2.25rem;\n  width: -webkit-fit-content;\n  width: -moz-fit-content;\n  width: fit-content;\n  max-width: 66%;\n  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);\n  \n}\n.orca-chat .messages .message.parker {\n  margin: 1rem 1rem 1rem auto;\n  border-radius: 1.125rem 1.125rem 0 1.125rem;\n  background: #333;\n  color: white;\n}\n.orca-chat .messages .message .typing {\n  display: inline-block;\n  width: 0.8rem;\n  height: 0.8rem;\n  margin-right: 0rem;\n  box-sizing: border-box;\n  background: #ccc;\n  border-radius: 50%;\n}\n.orca-chat .messages .message .typing.typing-1 {\n  -webkit-animation: typing 3s infinite;\n          animation: typing 3s infinite;\n}\n.orca-chat .messages .message .typing.typing-2 {\n  -webkit-animation: typing 3s 250ms infinite;\n          animation: typing 3s 250ms infinite;\n}\n.orca-chat .messages .message .typing.typing-3 {\n  -webkit-animation: typing 3s 500ms infinite;\n          animation: typing 3s 500ms infinite;\n}\n.orca-chat .input {\n  box-sizing: border-box;\n  flex-basis: 4rem;\n  flex-shrink: 0;\n  display: -webkit-box;\n  display: flex;\n  -webkit-box-align: center;\n          align-items: center;\n  padding: 0 0.5rem 0 1.5rem;\n}\n.orca-chat .input i {\n  font-size: 1.5rem;\n  margin-right: 1rem;\n  color: #666 !important;\n  cursor: pointer;\n  -webkit-transition: color 200ms;\n  transition: color 200ms;\n}\n.orca-chat .input i:hover {\n  color: #333;\n}\n.orca-chat .input input {\n  border: none;\n  outline:none;\n  background-image: none;\n  background-color: white;\n  padding: 0.5rem 1rem;\n  margin-right: 1rem;\n  border-radius: 1.125rem;\n  -webkit-box-flex: 2;\n          flex-grow: 2;\n  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);\n  font-family: Red hat Display, sans-serif;\n  font-weight: 400;\n  letter-spacing: 0.025em;\n  font-size:13px !important;\n  transition:0.3s;\n}\n.orca-chat .input input:hover{\n    box-shadow:0px 0px 5px rgba(0,0,0,.3),0px 0px 10px rgba(0,0,0,.3),0px 0px 15px rgba(0,0,0,.3);\n    transition:0.3s;\n}\n.orca-chat .input input:placeholder {\n  color: #999;\n}\n\n@-webkit-keyframes typing {\n  0%,\n  75%,\n  100% {\n    -webkit-transform: translate(0, 0.25rem) scale(0.9);\n            transform: translate(0, 0.25rem) scale(0.9);\n    opacity: 0.5;\n  }\n  25% {\n    -webkit-transform: translate(0, -0.25rem) scale(1);\n            transform: translate(0, -0.25rem) scale(1);\n    opacity: 1;\n  }\n}\n\n@keyframes typing {\n  0%,\n  75%,\n  100% {\n    -webkit-transform: translate(0, 0.25rem) scale(0.9);\n            transform: translate(0, 0.25rem) scale(0.9);\n    opacity: 0.5;\n  }\n  25% {\n    -webkit-transform: translate(0, -0.25rem) scale(1);\n            transform: translate(0, -0.25rem) scale(1);\n    opacity: 1;\n  }\n}\n.pic.stark {\n  background-image: url(\"https://api.tezsolutions.in/images/ORCA/Icon.png\");\n  background-repeat:no-repeat;\n  background-size:cover;\n  background-position: center center;\n}\n\n.pic.banner {\n  background-image: url(\"https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/4/4f/BruceHulk-Endgame-TravelingCapInPast.jpg\");\n}\n\n.pic.thor {\n  background-image: url(\"https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/9/98/ThorFliesThroughTheAnus.jpg\");\n}\n\n.pic.danvers {\n  background-image: url(\"https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/0/05/HeyPeterParker.png\");\n}\n\n.pic.rogers {\n  background-image: url(\"https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/7c/Cap.America_%28We_Don%27t_Trade_Lives_Vision%29.png\");\n}\n\n\n\n\n/*.message.stark.extra {*/\n/*    outline: none;*/\n/*    border: none;*/\n/*    cursor:pointer;*/\n/*    position: relative;*/\n/*    display: inline-block;*/\n/*    background: #e6e6e6 !important;*/\n/*    transition: 0.3s;*/\n/*    color: #3c3636;*/\n/*    width: 300px;*/\n/*    height: 60px;*/\n/*    padding: 5px 5px !important;*/\n/*    font-weight: 600;*/\n/*    font-size: 18px;*/\n/*    margin: -3px;*/\n/*    transform: scale(0.8);*/\n/*    transition: 0.5s;*/\n/*    border-radius: 1.125rem;*/\n/*}*/\n/*.message.stark.extra:hover{*/\n/*    background:#908b8b !important;*/\n/*    color:#fff;*/\n/*    transition:0.5s;*/\n/*    transform:scale(0.9);*/\n/*    box-shadow:2px 8px 15px rgba(0,0,0,.3);*/\n/*    transition:0.5;*/\n/*}*/\n.message.stark.extra{\n    outline: none;\n    border: none;\n    cursor:pointer;\n    font-size:12px;\n    margin:8px !important;\n    transition:0.5s;\n    transform: scale(1);\n    border:2px solid rgba(0,0,0,.3);\n}\n.message.stark.extra:hover{\n    box-shadow:0 0 3rem rgba(0, 0, 0, 0.095), 0rem 1rem 1.5rem -1rem rgba(0, 0, 0, 0.2);\n    transition:0.5s;\n    transform: scale(1.09);\n    background:#333;\n    color:#fff;\n}\n.messages::-webkit-scrollbar {\n    width:6px;\n    \n}\n.messages::-webkit-scrollbar-thumb{\n    border-radius:6px;\n    background-color: #000000;\n    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);\n}\n\n.back::selection{\n    background:transparent;\n    color:blue;\n}\n\n .linkText{\n         font-weight: 600;\n         text-decoration:none;\n         \n\n      }\n.orca-chat .messages .timer{\n      font-size: 0.7rem;\n      color: #999;\n      margin-top:-10px;\n      width: -webkit-fit-content;\n      width: -moz-fit-content;\n      width: fit-content;\n      margin-left: 235px;\n}\n\n.orca-chat .messages .bot-timer{\n      font-size: 0.7rem;\n      color: #999;\n      margin-top:-10px;\n      width: -webkit-fit-content;\n      width: -moz-fit-content;\n      width: fit-content;\n      margin-left: 20px;\n}\n.contact .online-status{ \n    width: .65rem;\n    height: .65rem;\n    border-radius: 100%;\n    z-index: 999999;\n    background: #1cc88a !important;\n    bottom: -42px;\n    left: -30px;\n    position: relative;\n    border: .125rem solid #fff; \n}\n    </style>\n    <script type=\"text/javascript\">\n\n\n\n        $(document).ready(function(){\n            $(\"#initial-message\").hide();\n            $(\"#chat\").append(\"<div class='message stark' id='typing-blob'><div class='typing typing-1'></div><div class='typing typing-2'></div><div class='typing typing-3'></div></div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                        setTimeout(function () {\n                        $(\"#typing-blob\").remove();\n                        $(\"#initial-message\").show();\n                        }, 5000);\n        })\n\n    var datetime;\n    var sound = new Audio();\n    sound.src = 'https://www.zapsplat.com/wp-content/uploads/2015/sound-effects-35448/zapsplat_cartoon_bubble_pop_003_40275.mp3';\n         \n          \n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        var responseMessage = {};\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"test\",\"ws/test\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            // ws = new WebSocket(wsUri);\n            ws = new WebSocket(\"wss://devapi.orca.embiote.in/ws/simple\");\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                \n                var data = JSON.parse(msg.data);\n                responseMessage[\"context\"] = data[\"context\"];\n                console.log(msg);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data.text+\"</p>\";\n                \n                // replace the messages div with the new \"line\"\n                // document.getElementsByClassName('messages').innerHTML = line;\n                 $(\"#typing-blob\").remove()\n                    $(\"#chat\").append(\"<div class='message stark back'>\"+line+\"</div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                    // var newPageTitle = data.text; \n                    // document.title =\"Bot reply: \" +newPageTitle;\n                    \n                    $(document).ready(function(){\n                     var text = data.text;\n                          blinkTitleStop();\n                          blinkTitle(\"Bot Says...\",text,1000,true);\n                        });\n                     \n                    \n                    \n                    if(data.options!==null){\n                        $( \"#Query\" ).prop( \"disabled\", true );\n                        $(\"#chat\").append(\"<div class='message stark' id='typing-blob'><div class='typing typing-1'></div><div class='typing typing-2'></div><div class='typing typing-3'></div></div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                        setTimeout(function () {\n                        $(\"#typing-blob\").remove()\n                        }, 1290);\n                        setTimeout(() => {\n                        $(document).ready(function(){\n                        for (let i=0; i < data.options[0].length;i++){\n                            if (data.options[0][i].text !== undefined){\n                                $(\"#chat\").append(\"<button class='message stark extra' data-value=\\\"\" + data.options[0][i].text + \"\\\" onclick='myFun(this)'> <span>\" + data.options[0][i].text + \"</span></button>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                            }\n                        }\n                        })\n                        }, 1300);\n                    }else{\n                        $( \"#Query\" ).prop( \"disabled\", false );\n                    }\n                    timing();\n                    $(\"#chat\").append(`<div class='bot-timer' id='time'>Today at ${datetime} </div>`).animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                    \n                //ws.send(JSON.stringify({data:data}));\n            }\n            \n            ws.onopen = function() {\n                // update the status div with the connection status\n                // document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                // document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n        function openChatBox(){\n            $(\"#chatBox\").removeClass(\"closed\")\n            $(\"#closeButton\").show();\n            //chatbot online-status\n            $(\"#online-status\").attr(\"class\",\"online-status\");\n             //initializing .... message\n            // $(\"#initial-message\").hide();\n            // $(\"#chat\").append(\"<div class='message stark' id='typing-blob'><div class='typing typing-1'></div><div class='typing typing-2'></div><div class='typing typing-3'></div></div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n            //             setTimeout(function () {\n            //             $(\"#typing-blob\").remove();\n            //             $(\"#initial-message\").show();\n            //             }, 3000);\n        }\n         function closeChatBox(){\n            $(\"#chatBox\").addClass(\"closed\")\n            $(\"#closeButton\").hide();\n            \n         }\n         \n        //  $(document).delegate(\"#Query\", \"keyup\", function(event) { \n        //     if (event.keyCode === 13) { \n        //         $(\"#send\").click(); \n        //     } \n        // });\n         function timing() {\n       var currentdate = new Date(); \n      var hrs=currentdate.getHours();\n      console.log(hrs);\n      console.log(typeof(hrs));\n      var day;\n      if(hrs>12)\n      {\n          hrs=hrs-12;\n          console.log(hrs);\n          day=\"PM\";\n          \n      }\n      else\n      {\n          day=\"AM\";\n      }\n      \n         datetime =  + hrs+ \":\"  \n                        + currentdate.getMinutes()+\" \"+day;\n        console.log(datetime);\n     };\n        \n        function sendMessage(userResponse) {\n            if(userResponse !== \"\"){\n                responseMessage[\"text\"] = userResponse\n                doit(JSON.stringify(responseMessage));\n                responseMessage={};\n                $(\"#chat\").append(\"<div class='message parker'>\"+userResponse+\"</div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                timing();\n                $(\"#chat\").append(`<div class='timer' id='time'>Today at ${datetime} </div>`).animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                sound.play();\n                $(\"#chat\").append(\"<div class='message stark' id='typing-blob'><div class='typing typing-1'></div><div class='typing typing-2'></div><div class='typing typing-3'></div></div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                $(\"#Query\").val(\"\");\n                setTimeout(function () {\n                    $(\"#typing-blob\").remove()\n                }, 5000);\n            }\n        }\n        \n//       \n        \n        // $(document).delegate(\"#send\", \"click\", function() {\n        //     var userResponse = $(\"#Query\").val();\n        //     console.log(userResponse);\n        //     sendMessage(userResponse);\n        //     userResponse=\"\";\n        // });\n        // $(document).delegate(\"#send\", \"onkeypress\", function() {\n           \n        //     var userResponse = $(\"#Query\").val();\n        //     console.log(userResponse);\n        //     sendMessage(userResponse);\n        //     userResponse=\"\";\n        // });\n        function sendFromTextBox()\n        {\n            var userResponse = $(\"#Query\").val();\n            console.log(userResponse);\n            sendMessage(userResponse);\n            userResponse=\"\";\n            \n        }\n        // function sendQuery(opt) {\n        //   document.querySelector(\"#chatBox > div.input > input\").value = opt;\n        // }\n        function myFun(btn){\n            console.log(btn.dataset.value);\n            userResponse = btn.dataset.value;\n            sendMessage(userResponse);\n    }\n        \n                $( document ).ready(function() {\n            $(\"#closeButton\").hide();\n            setTimeout(function () {\n                $(\"#chatBox\").removeClass(\"closed\");\n                $(\"#closeButton\").show();\n            }, 5000);\n            \n        });\n\n         \n        function record() {\n            $(document).ready(function(){\n                    $('input[name=\"msg-txt\"]').attr('placeholder','Listening.....');\n                })\n            setTimeout(() => {\n             $(document).ready(function(){\n                 $('input[name=\"msg-txt\"]').attr('placeholder','Type your message here!');\n                })\n                }, 4000);\n            var recognition = new webkitSpeechRecognition();\n            recognition.lang = \"en-GB\";\n            recognition.onresult = function(event) {\n                console.log(event);\n                document.getElementById('Query').value = event.results[0][0].transcript;\n                setTimeout(() => { \n                 var userResponse = $(\"#Query\").val();\n                    console.log(userResponse);\n                    \n                    sendMessage(userResponse);\n                    userResponse=\"\"; \n                    }, 2000);\n                \n                $(document).ready(function(){\n                $('input[name=\"msg-txt\"]').attr('placeholder','Type your message here!');\n                })\n                \n\n            }\n            recognition.start();\n        }\n      function iconFunction()\n      {\n          if(document.getElementById('micIcon').className==\"fas fa-microphone\")\n          {\n              record();\n          }\n          if(document.getElementById('micIcon').className==\"fas fa-paper-plane\")\n          {\n              sendFromTextBox();\n          }\n          \n          \n      }\n var emojis=['' ,'','' ,'','','','','','','','','','' ,'', '','','',' ','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','',''];\n$(document).ready(function(){\n \n  \n             for(var i=0;i<emojis.length;i++){\n                  $(\"#hidden_emoji_box\").append('<span class=\"emoji_single\" id=\"'+i+'\" onclick=\"emojifn(this)\">'+emojis[i]+'</span>');\n             }\n  \n             for(var i=0;i<emojis.length;i++){\n                  $(\"#hidden_emoji_box\").append('<span class=\"emoji_single\" id=\"'+i+'\" onclick=\"emojifn(this)\">'+emojis[i]+'</span>');\n             }\n                \n              \n \n});\n  function emojifn(e) { \n\n  if(e.id == 'emoji_select_inactive'){\n    $(\"#hidden_emoji_box\").show(400);\n    $(\"#emoji_select_inactive\").hide();\n    $(\"#emoji_select_active\").show();  \n  }else if (e.id == 'emoji_select_active'){\n    $(\"#hidden_emoji_box\").hide(400);\n    $(\"#emoji_select_active\").hide();\n    $(\"#emoji_select_inactive\").show();  \n  }else if(e.id == 'hidden_emoji_box' ||\n        e.id == 'chat_box') \n    {\n      return false;\n    }\n    else if(e.className=='emoji_single')\n      {\n       var data= document.getElementById('Query').value;\n        var emojiid=e.id,temp;\n     temp=emojis[parseInt(emojiid)];\n        data=data+temp;\n         document.getElementById('Query').value=data;\n        document.getElementById('micIcon').className=\"fas fa-paper-plane\";\n        \n      }\n  else{\n     $(\"#hidden_emoji_box\").hide();\n      $(\"#emoji_select_active\").hide();\n      $(\"#emoji_select_inactive\").show();  \n  }\n  }\n\n\n    </script>\n        \n   <div class=\"container-fluid\">\n        <div style=\"position : fixed; bottom: 5px; right: 0px; z-index:9999\"> <!--Begin Chatbot Code-->\n          <div id=\"chatBox\" class=\"orca-chat closed animate__animated animate__heartbeat\">\n            <div class=\"contact bar\" onclick=\"openChatBox()\">\n                \n              <div class=\"pic stark\"></div>\n              <span id=\"online-status\"></span>\n              <div class=\"name\">\n                EmbIOTe Bot\n              </div>\n              <div class=\"seen\">\n               Just Now\n             \n              </div>\n            </div>\n            <div id=\"closeButton\" style=\"position: absolute; top: 2rem; right: 2rem;\" onclick=\"closeChatBox()\">\n               <i class=\"fas fa-times\"></i>\n            </div>\n             \n            \n            <div class=\"messages\" id=\"chat\">\n                <script>\n                    // $(\"#initial-message\").hide();\n                    // $(\"#chat\").append(\"<div class='message stark' id='typing-blob'><div class='typing typing-1'></div><div class='typing typing-2'></div><div class='typing typing-3'></div></div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                    //     setTimeout(function () {\n                    //     $(\"#typing-blob\").remove();\n                    //   $(\"#initial-message\").show();\n                    //     }, 3000);\n                        \n                </script>\n              <div class=\"message stark\" id=\"initial-message\">\n                Hi there! How can I help you?\n              </div>\n              <img id=\"preview\" />\n            </div>\n             \n\n          <div>\n  \n  <div id=\"hidden_emoji_box\" onclick=\"emojifn(this)\">\n  </div>\n            <i id=\"emoji_select_active\" class=\"fas fa-times\" onclick=\"emojifn(this)\">close</i>\n          </div>\n  \n            <div class=\"input\">\n              <i class=\"far fa-laugh-beam\" id=\"emoji_select_inactive\" onclick=\"emojifn(this)\" ></i>\n              <input type=\"file\" id=\"real-file\" hidden=\"hidden\" name=\"file\" accept=\"image/*\" onchange=\"previewImage();\"/>\n              <!--<i class=\"fas fa-paperclip\" id=\"custom-button\"></i>-->\n             \n             <!-- <input id=\"Query\" placeholder=\"Type your message here!\" type=\"text\" autocomplete=\"off\" name=\"msg-txt\" />-->\n            <input id=\"Query\" placeholder=\"Type your message here!\" type=\"text\" autocomplete=\"off\" name=\"msg-txt\" onkeyup=\"changeIcon('micIcon')\"/>\n              <i class=\"fas fa-microphone\" onclick=\"iconFunction()\" id=\"micIcon\"></i>\n              <!--<i class=\"fas fa-paper-plane\" id=\"send\"></i>-->\n            </div>\n          \n          </div>\n        </div> \n   </div>\n       <!--End Chatbot Code-->\n        <!--<b-img src=\"./images/node-blue-192x192.png\" rounded left v-bind=\"imgProps\" alt=\"Blue Node-RED\" class=\"mt-1 mr-2\"></b-img>-->\n        <!--<img src=\"https://api.tezsolutions.in/images/ORCA/Logo.png\" fluid alt=\"ORCA Logo\">\n        <h1 style=\"text-align: center;\">\n            <br>\n            Omni Resource Collaboration Agent\n        </h1>-->\n   <!--closed container-->\n    <script>\n        $(document).ready(function() {\n            wsConnect();\n        });\n        \n        const realFileBtn = document.getElementById(\"real-file\");\n        const customBtn = document.getElementById(\"custom-button\");\n        const customTxt = document.getElementById(\"custom-text\");\n        \n        \n        //changeicon code\n        function changeIcon(f1)\n        { var keycode = (event.keyCode ? event.keyCode : event.which);\n                    if(document.getElementById(f1).className==\"fas fa-microphone\")\n                  {\n                    \n                    if(keycode!=32 && keycode!=8)\n                    {\n                      document.getElementById(f1).className=\"fas fa-paper-plane\";\n                      \n                    }                   \n                 }\n                  else{\n                      if(keycode==8)\n                      {\n                          //console.log(keycode);\n                          var content=document.getElementById('Query').value;\n                          if(content==\"\")\n                          {\n                              document.getElementById(f1).className=\"fas fa-microphone\";\n                          }\n                          \n                      }\n                     else if(keycode==13)\n\n                      {\n                          sendFromTextBox();\n                          document.getElementById(f1).className=\"fas fa-microphone\";\n                          \n                      }\n                      else{\n                  document.getElementById(f1).className=\"fas fa-paper-plane\";}\n                }\n                \n        }\n        \n        \n        \n        \n        \n        \n        //\n    \n        // customBtn.addEventListener(\"click\", function() {\n        //   realFileBtn.click();\n        // });\n        \n        function previewImage() {\n        var file = document.getElementById(\"real-file\").files;\n        if (file.length > 0) {\n          var fileReader = new FileReader();\n    \n          fileReader.onload = function (event) {\n            document.getElementById(\"preview\").setAttribute(\"src\", event.target.result);\n          };\n                \n          fileReader.readAsDataURL(file[0]);\n        }\n    }\n    // $('#Query').emojioneArea({\n    //     pickerPosition:'top'\n    // });\n    \n    \n          \n    </script>\n\n","x":330,"y":140,"wires":[["2be6f1d0.9e187e"]]},{"id":"7efa5d1e.5ccc64","type":"websocket in","z":"cb034793.669ad8","name":"","server":"7697fb4a.831394","client":"","x":170,"y":240,"wires":[["9a5189f.1905c78","4a793524.c452bc"]]},{"id":"9a5189f.1905c78","type":"debug","z":"cb034793.669ad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":280,"wires":[]},{"id":"27c860a2.0674b","type":"link in","z":"cb034793.669ad8","name":"","links":[],"x":135,"y":360,"wires":[["8571b3e1.7f10f","62568760.061438"]]},{"id":"523ba8f9.5b5448","type":"link out","z":"cb034793.669ad8","name":"","links":["bc4e8155.9ff61","47ecb451.1e24ec"],"x":655,"y":240,"wires":[]},{"id":"8571b3e1.7f10f","type":"debug","z":"cb034793.669ad8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":400,"wires":[]},{"id":"48936740.699bd8","type":"function","z":"cb034793.669ad8","name":"","func":"var payload = msg.payload;\nvar context = msg._dialogflow.outputContexts;\nmsg.payload={};\nmsg.payload.text=payload;\nmsg.payload.options = msg.options;\nmsg.payload.context=context;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":360,"wires":[["7012fe8.b08f5"]]},{"id":"62568760.061438","type":"switch","z":"cb034793.669ad8","name":"websocket","property":"src","propertyType":"msg","rules":[{"t":"eq","v":"websocket","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":360,"wires":[["48936740.699bd8"]]},{"id":"e4aac19c.f9be4","type":"function","z":"cb034793.669ad8","name":"","func":"var m=msg.payload;\nmsg.payload=m.text;\nmsg.contexts=m.context;\nmsg.src=\"websocket\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":240,"wires":[["523ba8f9.5b5448","3cd4fd75.151ce2"]]},{"id":"3cd4fd75.151ce2","type":"debug","z":"cb034793.669ad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":280,"wires":[]},{"id":"4a793524.c452bc","type":"json","z":"cb034793.669ad8","name":"","property":"payload","action":"","pretty":false,"x":370,"y":240,"wires":[["e4aac19c.f9be4"]]},{"id":"8d9be36d.af95c","type":"websocket out","z":"94da1880.7e5898","name":"","server":"7697fb4a.831394","client":"","x":600,"y":380,"wires":[]},{"id":"7e34c73c.1072c8","type":"http response","z":"94da1880.7e5898","name":"","statusCode":"","headers":{},"x":530,"y":160,"wires":[]},{"id":"10a129c7.0c4786","type":"http in","z":"94da1880.7e5898","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":182,"y":160,"wires":[["8950f7d0.010bf8"]]},{"id":"8950f7d0.010bf8","type":"template","z":"94da1880.7e5898","name":"ORCA","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<title>EmbIOTe</title>\n<link rel=\"icon\" href=\"https://api.tezsolutions.in/images/ORCA/Icon.png\">\n<script src=\"https://code.jquery.com/jquery-3.5.1.js\"></script> \n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js\"></script>\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css\"/>\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css\"/>\n<style>\n@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');\n@import url(\"https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap\");\nbody,\nhtml {\n  font-family: Red hat Display, sans-serif;\n  font-weight: 400;\n  line-height: 1.25em;\n  letter-spacing: 0.025em;\n  color: #333;\n  background: #f7f7f7;\n}\n/*#hidden_emoji_box{*/\n/*  background: white;*/\n/*  padding-top: 10px;*/\n/*  padding-left: -1px;*/\n/*  padding-right: 12px;*/\n/*  width: 130px;*/\n/*  display: none;*/\n/*  position: absolute;*/\n/*  left: -12%;*/\n/*  top: 80.7%;*/\n/*  z-index:10;*/\n/*  border-radius: 5px;*/\n/*}*/\n\n/*.emoji_single{*/\n/*  padding: 2px 0 2px 4px;*/\n/*  display: inline-block;*/\n/*}*/\n\n/*.emoji_single:hover{*/\n/*  cursor:pointer;*/\n/*   background: #bdc3c7; */\n/*  background: yellow;*/\n/*}*/\n/*.emoji_select_active*/\n/*{*/\n/*    position: absolute;*/\n/*  left: -20%;*/\n/*  top: 90%;*/\n/*  z-index:10;*/\n/*  display:none;*/\n    \n}\n.orca-chat{\n     font-family: Red hat Display, sans-serif;\n      font-weight: 400;\n      line-height: 1.25em;\n      letter-spacing: 0.025em;\n      color: #333;\n      text-transform:none !important;\n      text-align:left !important;\n}\n#closeButton{\n    cursor:pointer;\n}\n.begin{\n    box-shadow:0px 0px 10px rgba(0,0,0,.3);\n    transition:0.5s;\n    border-radius:50%;\n}\n.begin:hover{\n    box-shadow:0px 4px 24px rgba(0,0,0,.5);\n    transition:0.5s;\n}\n.center {\n  position: absolute;\n  top: 50%;\n  left: calc(50% + 12rem);\n  -webkit-transform: translate(-50%, -50%);\n          transform: translate(-50%, -50%);\n}\n.closeBtn{\n    cursor:pointer;\n    color:#000 !important;\n}\n#closeButton i{\n    color:#666 !important;\n}\n\n.pic {\n  width: 4rem;\n  height: 4rem;\n  background-size: cover;\n  background-position: center;\n  border-radius: 50%;\n  cursor:pointer;\n  box-shadow:0px 2px 10px rgba(0,0,0,.2);\n}\n\n.contact {\n  position: relative;\n  margin-bottom: 1rem;\n  padding-left: 5rem;\n  height: 4.5rem;\n  display: -webkit-box;\n  display: flex;\n  -webkit-box-orient: vertical;\n  -webkit-box-direction: normal;\n          flex-direction: column;\n  -webkit-box-pack: center;\n          justify-content: center;\n}\n.contact .pic {\n  position: absolute;\n  left: 0;\n}\n.contact .name {\n  font-weight: 500;\n  margin-bottom: 0.125rem;\n}\n.contact .message,\n.contact .seen {\n  font-size: 0.9rem;\n  color: #999;\n}\n.contact .badge {\n  box-sizing: border-box;\n  position: absolute;\n  width: 1.5rem;\n  height: 1.5rem;\n  text-align: center;\n  font-size: 0.9rem;\n  padding-top: 0.125rem;\n  border-radius: 1rem;\n  top: 0;\n  left: 2.5rem;\n  background: #333;\n  color: white;\n}\n\n.contacts {\n  display:none;\n  position: absolute;\n  top: 50%;\n  left: 0;\n  -webkit-transform: translate(-6rem, -50%);\n          transform: translate(-6rem, -50%);\n  width: 24rem;\n  height: 32rem;\n  padding: 1rem 2rem 1rem 1rem;\n  box-sizing: border-box;\n  border-radius: 1rem 0 0 1rem;\n  cursor: pointer;\n  background: white;\n  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 2rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);\n  -webkit-transition: -webkit-transform 500ms;\n  transition: -webkit-transform 500ms;\n  transition: transform 500ms;\n  transition: transform 500ms, -webkit-transform 500ms;\n}\n.contacts h2 {\n  margin: 0.5rem 0 1.5rem 5rem;\n}\n.contacts .fa-bars {\n  position: absolute;\n  left: 2.25rem;\n  color: #999;\n  -webkit-transition: color 200ms;\n  transition: color 200ms;\n}\n.contacts .fa-bars:hover {\n  color: #666;\n}\n.contacts .contact:last-child {\n  margin: 0;\n}\n.contacts:hover {\n  -webkit-transform: translate(-23rem, -50%);\n          transform: translate(-23rem, -50%);\n}\n\n.orca-chat {\n  position: relative;\n  display: -webkit-box;\n  display: flex;\n  -webkit-box-orient: vertical;\n  -webkit-box-direction: normal;\n          flex-direction: column;\n  -webkit-box-pack: justify;\n          justify-content: space-between;\n  width: 24rem;\n  height: 38rem;\n  z-index: 2;\n  box-sizing: border-box;\n  border-radius: 1rem;\n  background: white;\n  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);\n  transition-duration: 0.5s;\n}\n\n.orca-chat.closed{\n    width: 6rem;\n    height: 6rem;\n    transition-duration: 0.5s;\n    border-radius: 50%;\n}\n\n.orca-chat .contact.bar {\n  flex-basis: 3.5rem;\n  flex-shrink: 0;\n  margin: 1rem;\n  box-sizing: border-box;\n}\n.orca-chat .messages {\n  height: inherit;\n  padding: 1rem;\n  background: #f7f7f7;\n  flex-shrink: 2;\n  overflow-y: auto;\n  border:none;\n  outline:none;\n  /*scroll-behavior:smooth;*/\n  box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);\n}\n.orca-chat .input img{\n    width:350px;\n    height:370px;\n    outline:none;\n    border:0;\n}\n.orca-chat .messages .time {\n  font-size: 0.8rem;\n  background: #eee;\n  padding: 0.25rem 1rem;\n  border-radius: 2rem;\n  color: #999;\n  width: -webkit-fit-content;\n  width: -moz-fit-content;\n  width: fit-content;\n  margin: 0 auto;\n}\n.orca-chat .messages .message {\n  box-sizing: border-box;\n  padding: 0.5rem 1rem;\n  margin: 1rem;\n  background: #fff;\n  border-radius: 1.125rem 1.125rem 1.125rem 0;\n  min-height: 2.25rem;\n  width: -webkit-fit-content;\n  width: -moz-fit-content;\n  width: fit-content;\n  max-width: 66%;\n  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);\n  \n}\n.orca-chat .messages .message.parker {\n  margin: 1rem 1rem 1rem auto;\n  border-radius: 1.125rem 1.125rem 0 1.125rem;\n  background: #333;\n  color: white;\n}\n.orca-chat .messages .message .typing {\n  display: inline-block;\n  width: 0.8rem;\n  height: 0.8rem;\n  margin-right: 0rem;\n  box-sizing: border-box;\n  background: #ccc;\n  border-radius: 50%;\n}\n.orca-chat .messages .message .typing.typing-1 {\n  -webkit-animation: typing 3s infinite;\n          animation: typing 3s infinite;\n}\n.orca-chat .messages .message .typing.typing-2 {\n  -webkit-animation: typing 3s 250ms infinite;\n          animation: typing 3s 250ms infinite;\n}\n.orca-chat .messages .message .typing.typing-3 {\n  -webkit-animation: typing 3s 500ms infinite;\n          animation: typing 3s 500ms infinite;\n}\n.orca-chat .input {\n  box-sizing: border-box;\n  flex-basis: 4rem;\n  flex-shrink: 0;\n  display: -webkit-box;\n  display: flex;\n  -webkit-box-align: center;\n          align-items: center;\n  padding: 0 0.5rem 0 1.5rem;\n}\n.orca-chat .input i {\n  font-size: 1.5rem;\n  margin-right: 1rem;\n  color: #666 !important;\n  cursor: pointer;\n  -webkit-transition: color 200ms;\n  transition: color 200ms;\n}\n.orca-chat .input i:hover {\n  color: #333;\n}\n.orca-chat .input input {\n  border: none;\n  outline:none;\n  background-image: none;\n  background-color: white;\n  padding: 0.5rem 1rem;\n  margin-right: 1rem;\n  border-radius: 1.125rem;\n  -webkit-box-flex: 2;\n          flex-grow: 2;\n  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);\n  font-family: Red hat Display, sans-serif;\n  font-weight: 400;\n  letter-spacing: 0.025em;\n  font-size:13px !important;\n  transition:0.3s;\n}\n.orca-chat .input input:hover{\n    box-shadow:0px 0px 5px rgba(0,0,0,.3),0px 0px 10px rgba(0,0,0,.3),0px 0px 15px rgba(0,0,0,.3);\n    transition:0.3s;\n}\n.orca-chat .input input:placeholder {\n  color: #999;\n}\n\n@-webkit-keyframes typing {\n  0%,\n\t75%,\n\t100% {\n    -webkit-transform: translate(0, 0.25rem) scale(0.9);\n            transform: translate(0, 0.25rem) scale(0.9);\n    opacity: 0.5;\n  }\n  25% {\n    -webkit-transform: translate(0, -0.25rem) scale(1);\n            transform: translate(0, -0.25rem) scale(1);\n    opacity: 1;\n  }\n}\n\n@keyframes typing {\n  0%,\n\t75%,\n\t100% {\n    -webkit-transform: translate(0, 0.25rem) scale(0.9);\n            transform: translate(0, 0.25rem) scale(0.9);\n    opacity: 0.5;\n  }\n  25% {\n    -webkit-transform: translate(0, -0.25rem) scale(1);\n            transform: translate(0, -0.25rem) scale(1);\n    opacity: 1;\n  }\n}\n.pic.stark {\n  background-image: url(\"https://api.tezsolutions.in/images/ORCA/Icon.png\");\n  background-repeat:no-repeat;\n  background-size:cover;\n  background-position: center center;\n}\n\n.pic.banner {\n  background-image: url(\"https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/4/4f/BruceHulk-Endgame-TravelingCapInPast.jpg\");\n}\n\n.pic.thor {\n  background-image: url(\"https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/9/98/ThorFliesThroughTheAnus.jpg\");\n}\n\n.pic.danvers {\n  background-image: url(\"https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/0/05/HeyPeterParker.png\");\n}\n\n.pic.rogers {\n  background-image: url(\"https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/7c/Cap.America_%28We_Don%27t_Trade_Lives_Vision%29.png\");\n}\n\n\n\n\n/*.message.stark.extra {*/\n/*    outline: none;*/\n/*    border: none;*/\n/*    cursor:pointer;*/\n/*    position: relative;*/\n/*    display: inline-block;*/\n/*    background: #e6e6e6 !important;*/\n/*    transition: 0.3s;*/\n/*    color: #3c3636;*/\n/*    width: 300px;*/\n/*    height: 60px;*/\n/*    padding: 5px 5px !important;*/\n/*    font-weight: 600;*/\n/*    font-size: 18px;*/\n/*    margin: -3px;*/\n/*    transform: scale(0.8);*/\n/*    transition: 0.5s;*/\n/*    border-radius: 1.125rem;*/\n/*}*/\n/*.message.stark.extra:hover{*/\n/*    background:#908b8b !important;*/\n/*    color:#fff;*/\n/*    transition:0.5s;*/\n/*    transform:scale(0.9);*/\n/*    box-shadow:2px 8px 15px rgba(0,0,0,.3);*/\n/*    transition:0.5;*/\n/*}*/\n.message.stark.extra{\n    outline: none;\n    border: none;\n    cursor:pointer;\n    font-size:12px;\n    margin:8px !important;\n    transition:0.5s;\n    transform: scale(1);\n    border:2px solid rgba(0,0,0,.3);\n}\n.message.stark.extra:hover{\n    box-shadow:0 0 3rem rgba(0, 0, 0, 0.095), 0rem 1rem 1.5rem -1rem rgba(0, 0, 0, 0.2);\n    transition:0.5s;\n    transform: scale(1.09);\n    background:#333;\n    color:#fff;\n    border:2px solid #fff;\n}\n.messages::-webkit-scrollbar {\n    width:6px;\n    \n}\n.messages::-webkit-scrollbar-thumb{\n    border-radius:6px;\n    background-color: #000000;\n    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);\n}\n\n.back::selection{\n    background:transparent;\n    color:blue;\n}\n\n .linkText{\n         font-weight: 600;\n         text-decoration:none;\n         \n\n      }\n.orca-chat .messages .timer{\n      font-size: 0.7rem;\n      color: #999;\n      margin-top:-10px;\n      width: -webkit-fit-content;\n      width: -moz-fit-content;\n      width: fit-content;\n      margin-left: 235px;\n}\n\n.orca-chat .messages .bot-timer{\n      font-size: 0.7rem;\n      color: #999;\n      margin-top:-10px;\n      width: -webkit-fit-content;\n      width: -moz-fit-content;\n      width: fit-content;\n      margin-left: 20px;\n}\n.contact .online-status{ \n    width: .65rem;\n    height: .65rem;\n    border-radius: 100%;\n    z-index: 999999;\n    background: #1cc88a !important;\n    bottom: -42px;\n    left: -30px;\n    position: relative;\n    border: .125rem solid #fff; \n}\n    </style>\n    <script type=\"text/javascript\">\n        $(document).ready(function(){\n            $(\"#openChatBox\").one(\"click\",function(){\n            $(\"#initial-message\").hide();\n            $(\"#chat\").append(\"<div class='message stark' id='typing-blob'><div class='typing typing-1'></div><div class='typing typing-2'></div><div class='typing typing-3'></div></div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                        setTimeout(function () {\n                        $(\"#typing-blob\").remove();\n                        $(\"#initial-message\").show();\n                        }, 3000);\n        });\n        });\n\n\n        // $(document).ready(function(){\n        //     $(\"#initial-message\").hide();\n        //     $(\"#chat\").append(\"<div class='message stark' id='typing-blob'><div class='typing typing-1'></div><div class='typing typing-2'></div><div class='typing typing-3'></div></div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n        //                 setTimeout(function () {\n        //                 $(\"#typing-blob\").remove();\n        //                 $(\"#initial-message\").show();\n        //                 }, 5000);\n        // })\n\n    var datetime;\n    var sound = new Audio();\n    sound.src = 'https://www.zapsplat.com/wp-content/uploads/2015/sound-effects-35448/zapsplat_cartoon_bubble_pop_003_40275.mp3';\n         \n          \n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        var responseMessage = {};\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"test\",\"ws/test\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            // ws = new WebSocket(wsUri);\n            ws = new WebSocket(\"wss://devapi.orca.embiote.in/ws/simple\");\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                \n                var data = JSON.parse(msg.data);\n                responseMessage[\"context\"] = data[\"context\"];\n                console.log(msg);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data.text+\"</p>\";\n                \n                // replace the messages div with the new \"line\"\n                // document.getElementsByClassName('messages').innerHTML = line;\n                 $(\"#typing-blob\").remove()\n                    $(\"#chat\").append(\"<div class='message stark back'>\"+line+\"</div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                    // var newPageTitle = data.text; \n                    // document.title =newPageTitle;\n            //   title\n                    var title = document.title;\n            var interval = 0;\n\n            function blink(title1, title2, timeout){\n                title2 = title2 || title;\n                timeout = timeout || 1000;\n\n                document.title = title1;\n                interval = setInterval(function(){\n                    if(document.title == title1){\n                        document.title = title2;\n                    }else{\n                        document.title = title1;\n                    }\n                }, timeout);\n            }\n\n            function stop(){\n                clearInterval(interval);\n                document.title = title;\n            }\n\n\n\n            blink(data.text);\n            setTimeout(function(){\n                stop();\n            }, 5000)\n            // title\n            \n                    if(data.options!==null){\n                        $( \"#Query\" ).prop( \"disabled\", true );\n                        $(\"#chat\").append(\"<div class='message stark' id='typing-blob'><div class='typing typing-1'></div><div class='typing typing-2'></div><div class='typing typing-3'></div></div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                        setTimeout(function () {\n                        $(\"#typing-blob\").remove()\n                        }, 1290);\n                        setTimeout(() => {\n                        $(document).ready(function(){\n                        for (let i=0; i < data.options[0].length;i++){\n                            if (data.options[0][i].text !== undefined){\n                                $(\"#chat\").append(\"<button class='message stark extra' data-value=\\\"\" + data.options[0][i].text + \"\\\" onclick='myFun(this)'> <span>\" + data.options[0][i].text + \"</span></button>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                            }\n                        }\n                        })\n                        }, 1300);\n                    }else{\n                        $( \"#Query\" ).prop( \"disabled\", false );\n                    }\n                    timing();\n                    $(\"#chat\").append(`<div class='bot-timer' id='time'>Today at ${datetime} </div>`).animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                    \n                //ws.send(JSON.stringify({data:data}));\n            }\n            \n            ws.onopen = function() {\n                // update the status div with the connection status\n                // document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                // document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n        function openChatBox(){\n            $(\"#chatBox\").removeClass(\"closed\")\n            $(\"#closeButton\").show();\n            //chatbot online-status\n            $(\"#online-status\").attr(\"class\",\"online-status\");\n             //initializing .... message\n            // $(\"#initial-message\").hide();\n            // $(\"#chat\").append(\"<div class='message stark' id='typing-blob'><div class='typing typing-1'></div><div class='typing typing-2'></div><div class='typing typing-3'></div></div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n            //             setTimeout(function () {\n            //             $(\"#typing-blob\").remove();\n            //             $(\"#initial-message\").show();\n            //             }, 3000);\n        }\n         function closeChatBox(){\n            $(\"#chatBox\").addClass(\"closed\")\n            $(\"#closeButton\").hide();\n            \n         }\n         \n        //  $(document).delegate(\"#Query\", \"keyup\", function(event) { \n        //     if (event.keyCode === 13) { \n        //         $(\"#send\").click(); \n        //     } \n        // });\n         function timing() {\n       var currentdate = new Date(); \n      var hrs=currentdate.getHours();\n      console.log(hrs);\n      console.log(typeof(hrs));\n      var day;\n      if(hrs>12)\n      {\n          hrs=hrs-12;\n          console.log(hrs);\n          day=\"PM\";\n          \n      }\n      else\n      {\n          day=\"AM\";\n      }\n      \n         datetime =  + hrs+ \":\"  \n                        + currentdate.getMinutes()+\" \"+day;\n        console.log(datetime);\n     };\n        \n        function sendMessage(userResponse) {\n            if(userResponse !== \"\"){\n                responseMessage[\"text\"] = userResponse\n                doit(JSON.stringify(responseMessage));\n                responseMessage={};\n                $(\"#chat\").append(\"<div class='message parker'>\"+userResponse+\"</div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                timing();\n                $(\"#chat\").append(`<div class='timer' id='time'>Today at ${datetime} </div>`).animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                sound.play();\n                $(\"#chat\").append(\"<div class='message stark' id='typing-blob'><div class='typing typing-1'></div><div class='typing typing-2'></div><div class='typing typing-3'></div></div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                $(\"#Query\").val(\"\");\n                setTimeout(function () {\n                    $(\"#typing-blob\").remove()\n                }, 5000);\n            }\n        }\n        \n//       \n        \n        // $(document).delegate(\"#send\", \"click\", function() {\n        //     var userResponse = $(\"#Query\").val();\n        //     console.log(userResponse);\n        //     sendMessage(userResponse);\n        //     userResponse=\"\";\n        // });\n        // $(document).delegate(\"#send\", \"onkeypress\", function() {\n           \n        //     var userResponse = $(\"#Query\").val();\n        //     console.log(userResponse);\n        //     sendMessage(userResponse);\n        //     userResponse=\"\";\n        // });\n        function sendFromTextBox()\n        {\n            if(userResponse !== \"\"){\n            var userResponse = $(\"#Query\").val();\n            console.log(userResponse);\n            sendMessage(userResponse);\n            userResponse=\"\";\n            }\n        }\n        // function sendQuery(opt) {\n        //   document.querySelector(\"#chatBox > div.input > input\").value = opt;\n        // }\n        function myFun(btn){\n            console.log(btn.dataset.value);\n            userResponse = btn.dataset.value;\n            sendMessage(userResponse);\n    }\n        \n                $( document ).ready(function() {\n            $(\"#closeButton\").hide();\n            setTimeout(function () {\n                $(\"#chatBox\").removeClass(\"closed\");\n                $(\"#closeButton\").show();\n            }, 5000);\n            \n        });\n\n         \n        function record() {\n            $(document).ready(function(){\n                    $('input[name=\"msg-txt\"]').attr('placeholder','Listening.....');\n                })\n            setTimeout(() => {\n             $(document).ready(function(){\n                 $('input[name=\"msg-txt\"]').attr('placeholder','Type your message here!');\n                })\n                }, 4000);\n            var recognition = new webkitSpeechRecognition();\n            recognition.lang = \"en-GB\";\n            recognition.onresult = function(event) {\n                console.log(event);\n                document.getElementById('Query').value = event.results[0][0].transcript;\n                setTimeout(() => { \n                 var userResponse = $(\"#Query\").val();\n                    console.log(userResponse);\n                    \n                    sendMessage(userResponse);\n                    userResponse=\"\"; \n                    }, 2000);\n                \n                $(document).ready(function(){\n                $('input[name=\"msg-txt\"]').attr('placeholder','Type your message here!');\n                })\n                \n\n            }\n            recognition.start();\n        }\n      function iconFunction()\n      {\n          if(document.getElementById('micIcon').className==\"fas fa-microphone\")\n          {\n              record();\n          }\n          if(document.getElementById('micIcon').className==\"fas fa-paper-plane\")\n          {\n              sendFromTextBox();\n          }\n          \n          \n      }\n//      function emojisArea(e) { \n\n//   if(e.target.id == 'emoji_select_inactive'){\n//     $(\"#hidden_emoji_box\").show(400);\n//     $(\"#emoji_select_inactive\").hide();\n//     $(\"#emoji_select_active\").show();  \n//   }else if (e.target.id == 'emoji_select_active'){\n//     $(\"#hidden_emoji_box\").hide(400);\n//     $(\"#emoji_select_active\").hide();\n//     $(\"#emoji_select_inactive\").show();  \n//   }else if(e.target.id == 'hidden_emoji_box' ||\n//         e.target.id == 'chat_box' ||\n//         $(e.target).hasClass('emoji_single')) \n//     {\n//       return false;\n//     }\n//   else{\n//      $(\"#hidden_emoji_box\").hide();\n//       $(\"#emoji_select_active\").hide();\n//       $(\"#emoji_select_inactive\").show();  \n//   }\n  \n     \n\n    </script>\n        \n    <div class=\"container-fluid\">\n        <div style=\"position : fixed; bottom: 5px; right: 0px; z-index:9999\"> <!--Begin Chatbot Code-->\n          <div id=\"chatBox\" class=\"orca-chat closed animate__animated animate__heartbeat\">\n            <div class=\"contact bar\" id=\"openChatBox\" onclick=\"openChatBox()\">\n                \n              <div class=\"pic stark\"></div>\n              <span id=\"online-status\"></span>\n              <div class=\"name\">\n                EmbIOTe Bot\n              </div>\n              <div class=\"seen\">\n               Just Now\n             \n              </div>\n            </div>\n            <div id=\"closeButton\" style=\"position: absolute; top: 2rem; right: 2rem;\" onclick=\"closeChatBox()\">\n               <i class=\"fas fa-times\"></i>\n            </div>\n             \n            \n            <div class=\"messages\" id=\"chat\">\n                <script>\n                    // $(\"#initial-message\").hide();\n                    // $(\"#chat\").append(\"<div class='message stark' id='typing-blob'><div class='typing typing-1'></div><div class='typing typing-2'></div><div class='typing typing-3'></div></div>\").animate({scrollTop: $('#chat').prop(\"scrollHeight\")}, 500)\n                    //     setTimeout(function () {\n                    //     $(\"#typing-blob\").remove();\n                    //   $(\"#initial-message\").show();\n                    //     }, 3000);\n                        \n                </script>\n              <div class=\"message stark\" id=\"initial-message\">\n                Hi there! How can I help you?\n              </div>\n              <img id=\"preview\" />\n            </div>\n             \n \n\n  \n            <div class=\"input\">\n              <i class=\"far fa-laugh-beam\" ></i>\n              <input type=\"file\" id=\"real-file\" hidden=\"hidden\" name=\"file\" accept=\"image/*\" onchange=\"previewImage();\"/>\n              <!--<i class=\"fas fa-paperclip\" id=\"custom-button\"></i>-->\n             \n             <!-- <input id=\"Query\" placeholder=\"Type your message here!\" type=\"text\" autocomplete=\"off\" name=\"msg-txt\" />-->\n            <input id=\"Query\" placeholder=\"Type your message here!\" type=\"text\" autocomplete=\"off\" name=\"msg-txt\" onkeyup=\"changeIcon('micIcon')\"/>\n              <i class=\"fas fa-microphone\" onclick=\"iconFunction()\" id=\"micIcon\"></i>\n              <!--<i class=\"fas fa-paper-plane\" id=\"send\"></i>-->\n            </div>\n          </div>\n        </div> \n        </div><!--End Chatbot Code-->\n        <!--<b-img src=\"./images/node-blue-192x192.png\" rounded left v-bind=\"imgProps\" alt=\"Blue Node-RED\" class=\"mt-1 mr-2\"></b-img>-->\n        <!--<img src=\"https://api.tezsolutions.in/images/ORCA/Logo.png\" fluid alt=\"ORCA Logo\">\n        <h1 style=\"text-align: center;\">\n            <br>\n            Omni Resource Collaboration Agent\n        </h1>-->\n   <!--closed container-->\n\n    <script>\n        $(document).ready(function() {\n            wsConnect();\n        });\n        \n        const realFileBtn = document.getElementById(\"real-file\");\n        const customBtn = document.getElementById(\"custom-button\");\n        const customTxt = document.getElementById(\"custom-text\");\n        \n        \n        //changeicon code\n        function changeIcon(f1)\n        {\tvar keycode = (event.keyCode ? event.keyCode : event.which);\n                    if(document.getElementById(f1).className==\"fas fa-microphone\")\n              \t\t{\n              \t\t\t\n              \t\t\tif(keycode!=32 && keycode!=8)\n              \t\t\t{\n              \t\t\t\tdocument.getElementById(f1).className=\"fas fa-paper-plane\";\n              \t\t\t\t\n              \t\t\t}              \t\t\t\n        \t       }\n              \t\telse{\n              \t\t    if(keycode==8)\n              \t\t    {\n              \t\t        //console.log(keycode);\n              \t\t        var content=document.getElementById('Query').value;\n              \t\t        if(content==\"\")\n              \t\t        {\n              \t\t            document.getElementById(f1).className=\"fas fa-microphone\";\n              \t\t        }\n              \t\t        \n              \t\t    }\n              \t\t   else if(keycode==13)\n\n              \t\t    {\n              \t\t        sendFromTextBox();\n              \t\t        document.getElementById(f1).className=\"fas fa-microphone\";\n              \t\t        \n              \t\t    }\n              \t\t    else{\n              \t\tdocument.getElementById(f1).className=\"fas fa-paper-plane\";}\n              \t}\n                \n        }\n        \n        \n        \n        \n        \n        \n        //\n    \n        // customBtn.addEventListener(\"click\", function() {\n        //   realFileBtn.click();\n        // });\n        \n        function previewImage() {\n        var file = document.getElementById(\"real-file\").files;\n        if (file.length > 0) {\n          var fileReader = new FileReader();\n    \n          fileReader.onload = function (event) {\n            document.getElementById(\"preview\").setAttribute(\"src\", event.target.result);\n          };\n                \n          fileReader.readAsDataURL(file[0]);\n        }\n    }\n    // $('#Query').emojioneArea({\n    //     pickerPosition:'top'\n    // });\n    \n  console.log(document.title);\n          \n    </script>\n\n","x":370,"y":160,"wires":[["7e34c73c.1072c8"]]},{"id":"ffd8e2cc.53075","type":"websocket in","z":"94da1880.7e5898","name":"","server":"7697fb4a.831394","client":"","x":210,"y":260,"wires":[["50a4324d.07942c","e6513f70.a10b3"]]},{"id":"50a4324d.07942c","type":"debug","z":"94da1880.7e5898","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":300,"wires":[]},{"id":"82b6d06c.be358","type":"link in","z":"94da1880.7e5898","name":"","links":["746b3ac3.ebb494","2990992b.1c7c46"],"x":175,"y":380,"wires":[["3872a82a.28a698","431da781.bdc278"]]},{"id":"ae74e2af.a8949","type":"link out","z":"94da1880.7e5898","name":"","links":["bc4e8155.9ff61","47ecb451.1e24ec"],"x":695,"y":260,"wires":[]},{"id":"3872a82a.28a698","type":"debug","z":"94da1880.7e5898","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":420,"wires":[]},{"id":"bbef3e5c.16906","type":"function","z":"94da1880.7e5898","name":"","func":"var payload = msg.payload;\nvar context = msg._dialogflow.outputContexts;\nmsg.payload={};\nmsg.payload.text=payload;\nmsg.payload.options = msg.options;\nmsg.payload.context=context;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":380,"wires":[["8d9be36d.af95c"]]},{"id":"431da781.bdc278","type":"switch","z":"94da1880.7e5898","name":"websocket","property":"src","propertyType":"msg","rules":[{"t":"eq","v":"websocket","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":380,"wires":[["bbef3e5c.16906"]]},{"id":"d419725a.03166","type":"function","z":"94da1880.7e5898","name":"","func":"var m=msg.payload;\nmsg.payload=m.text;\nmsg.contexts=m.context;\nmsg.src=\"websocket\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":260,"wires":[["ae74e2af.a8949","8a0bcc3a.9498d"]]},{"id":"8a0bcc3a.9498d","type":"debug","z":"94da1880.7e5898","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":300,"wires":[]},{"id":"e6513f70.a10b3","type":"json","z":"94da1880.7e5898","name":"","property":"payload","action":"","pretty":false,"x":410,"y":260,"wires":[["d419725a.03166"]]}]